<TMPL_INCLUDE NAME=header-dialog.tmpl>
<script type="text/javascript">
<!--
var str = getByID('<TMPL_VAR NAME=EDIT_FIELD>', window.parent.document);
setSelection(str, '<TMPL_VAR NAME=UPLOAD_HTML ESCAPE=JS>');
closeDialog();
//-->
</script>
<TMPL_INCLUDE NAME=footer-dialog.tmpl>
