<TMPL_INCLUDE NAME=header-dialog.tmpl>
<script type="text/javascript">
var str = getByID('text', window.parent.document);
setSelection(str, '<TMPL_VAR NAME=ASSET_HTML ESCAPE=HTML>');
closeDialog();
</script>
<TMPL_INCLUDE NAME=footer-dialog.tmpl>
