<TMPL_INCLUDE NAME="header.tmpl">
<h2><span class="weblog-title-highlight"><TMPL_IF NAME=BLOG_ID><TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML><TMPL_ELSE><MT_TRANS phrase="System-wide"></TMPL_IF>:</span> <MT_TRANS phrase="Backup / Restore"></h2>

<p class="page-desc"><MT_TRANS phrase="_BACKUP_FILES_DESCRIPTION"></p>

<div class="tabs">
<ul>
<li class="yah" id="backup-tab"><MT_TRANS phrase="Backup"></li>
</ul>
</div>
                                                                                         
<div id="backup-panel">

<p class="page-desc"><MT_TRANS phrase="_USAGE_BACKUP_FILES"></p> 

<div class="list" id="list-files">
<table cellspacing="0">

<thead>
<tr>
<th id="ft-filename"><MT_TRANS phrase="Filename"></th>
<th id="ft-view">&nbsp;</th>
</tr>
</thead>
<tbody>

<TMPL_LOOP NAME=FILES_LOOP>
<tr class="<TMPL_IF __ODD__>odd<TMPL_ELSE>even</TMPL_IF>">
<td><TMPL_VAR NAME=FILENAME></td>
<td class="status-view"><TMPL_IF NAME=URL><a href="<TMPL_VAR NAME=URL>" target="<MT_TRANS phrase="_external_link_target">" title="<MT_TRANS phrase="Download This File">"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" alt="<MT_TRANS phrase="Download This File">" width="13" height="9" /></a><TMPL_ELSE>&nbsp;</TMPL_IF></td>
</tr>
</TMPL_LOOP>

</tbody>
</table>
<p><strong><MT_TRANS phrase="_BACKUP_TEMPDIR_WARNING" params="<TMPL_VAR NAME=TEMPDIR>"></strong></p>

</div>

</div>
<div id="bottom"></div>

<TMPL_INCLUDE NAME="footer.tmpl">
