<TMPL_INCLUDE NAME="header.tmpl">

<script type="text/javascript">

function highlightSwitch(selection) {
    var descriptionObject = getByID('backup-what-description');
    if (descriptionObject) {
        if (selection.value == 'custom') {
            openDialog(this.form, 'dialog_select_weblog');
            descriptionObject.innerHTML = '<MT_TRANS phrase="This option allows you to choose exactly what you want to backup.">';
        } else {
            var el_id = getByID('selected_blog_ids');
            if (el_id) el_id.value = '';
            var el_name = getByID('selected_blogs');
            if (el_name) el_name.innerHTML = '(<MT_TRANS phrase="None Selected.">)';
            descriptionObject.innerHTML = '<MT_TRANS phrase="This option will backup Users, Roles, Associations, Weblogs, Entries, Categories, Templates and Tags.">';
        }
    }
    return false;
}
</script>
<h2><span class="weblog-title-highlight"><TMPL_IF NAME=BLOG_ID><TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML><TMPL_ELSE><MT_TRANS phrase="System-wide"></TMPL_IF>:</span> <MT_TRANS phrase="Backup / Restore"></h2>

<p class="page-desc"><MT_TRANS phrase="_BACKUP_RESTORE_DESCRIPTION">
<a href="#" onclick="return openManual('backup_restore', 'backup_restore_main')" class="help">?</a></p>

<div class="tabs">
<ul>
<li class="yah" id="backup-tab"><a href="#" onclick="tabToggle('backup',Array('backup','restore'))" title="<MT_TRANS phrase="Backup System Objects">"><MT_TRANS phrase="Backup"></a></li>
<li id="restore-tab"><a href="#" onclick="tabToggle('restore',Array('backup','restore'))" title="<MT_TRANS phrase="Restore System Objects">"><MT_TRANS phrase="Restore"></a></li>
</ul>
</div>
                                                                                         
<div id="backup-panel">

<form method="post" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="__mode" value="backup" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />

<fieldset style="margin-top: 0px;">

<div class="setting">
<div class="label"><label><MT_TRANS phrase="What to backup">:</label></div>
<div class="field">
<select name="backup_what" id="backup_what" onchange="highlightSwitch(this)">
<option value="everything" selected="selected"><MT_TRANS phrase="Everything"></option>
<option value="custom"><MT_TRANS phrase="Choose weblogs to backup"></option>
</select>
<input type="hidden" id="selected_blog_ids" name="selected_blog_ids" value="" />
<p><strong><span id="selected_blogs">(<MT_TRANS phrase="None selected.">)</span></strong></p>
<p><span id="backup-what-description"><MT_TRANS phrase="This option will backup Users, Roles, Associations, Weblogs, Entries, Categories, Templates and Tags."></span>
<a href="#" onclick="return openManual('backup_restore', 'backup_what')" class="help">?</a></p>
</div>
</div>
<div class="setting">
<div class="label"><label><MT_TRANS phrase="Type of archive format">:</label></div>
<div class="field">
<p>
<TMPL_IF NAME=TARGZ><input type="radio" id="tar.gz" name="backup_archive_format" value="1" checked="checked"> <label for="tar.gz"><MT_TRANS phrase="tar.gz"></label></TMPL_IF>
<TMPL_IF NAME=ZIP><input type="radio" id="zip" name="backup_archive_format" value="2"> <label for="zip"><MT_TRANS phrase="zip"></label></TMPL_IF>
<input type="radio" id="no_archive" name="backup_archive_format" value="0"> <label for="no_archive"><MT_TRANS phrase="Don't compress"></label>
<a href="#" onclick="return openManual('backup_restore', 'backup_format')" class="help">?</a>
</p>
</div>
</div>
<div class="setting">
<div class="label"><label for="num_items"><MT_TRANS phrase="Number of megabytes per file">:</label></div>
<div class="field">
<select name="size_limit" id="size_limit">
<option value="0" selected="selected">Don't Divide</option>
<option value="1024">1MB</option>
<option value="2048">2MB</option>
<option value="4096">4MB</option>
<option value="8192">8MB</option>
</select>
<p><MT_TRANS phrase="Maximum file size per backup file."> <a href="#" onclick="return openManual('backup_restore', 'backup_num_size')" class="help">?</a></p>
</div>
</div>
<p style="text-align: center;"><input type="submit" value="<MT_TRANS phrase="Make Backup">" title="<MT_TRANS phrase="Make Backup (b)">" accesskey="b" /></p>

</fieldset>
</form>
</div>
<div id="restore-panel" style="display: none;">

<form method="post" enctype="multipart/form-data" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="__mode" value="restore" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />

<fieldset style="margin-top: 0px;">

<h3>Upload Single File</h3>
<div class="setting">
<div class="label"><label><MT_TRANS phrase="Upload backup file: (optional)"></label></div>
<div class="field">
<input name="file" id="file" type="file" />
<p><MT_TRANS phrase="If your backup file is located on your computer, you can upload it here.  Otherwise, Movable Type will automatically look in the <code>import</code> folder of your Movable Type directory."> <a href="#" onclick="return openManual('backup_restore', 'source_file')" class="help">?</a><br /></p>
</div>
</div>

<p style="text-align: center;"><input type="submit" value="<MT_TRANS phrase="Restore">" title="<MT_TRANS phrase="Restore (r)">" accesskey="r" /></p>
</form>

<form method="post" enctype="multipart/form-data" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="__mode" value="restore_upload_manifest" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />

<h3>Upload Multiple Files</h3>

<div class="setting">
<div class="label"><label><MT_TRANS phrase="Upload manifest file:"></label></div>
<div class="field">
<input name="file" id="file" type="file" />
<p><MT_TRANS phrase="If you have a manifest file and multiple backup files, you first upload the manifest file here.  Movable Type will guide you through the restore process."> <a href="#" onclick="return openManual('backup_restore', 'manifest_file')" class="help">?</a><br /></p>
</div>
</div>
<p style="text-align: center;"><input type="submit" name="upload_multiple_files" id="upload_multiple_files" value="<MT_TRANS phrase="Upload Multiple Files">" title="<MT_TRANS phrase="Upload Manifest File (m)">" accesskey="m" /></p>

</fieldset>
</form>

</div>
<div id="bottom"></div>

</div>

<TMPL_IF NAME=BLOG_ID>
<br style="clear: both;" />
<TMPL_ELSE>
<TMPL_IF NAME=SYSTEM_OVERVIEW_NAV>
<br style="clear: both;" />
</TMPL_IF>
</TMPL_IF>

</div>

<div id="copyright">
<b>Version <TMPL_VAR NAME=MT_VERSION></b> Copyright &copy; 2001-2007 Six Apart. All Rights Reserved.
</div>

<div id="dialog-container" style="display: none">
<div class="modal-mask opaque"></div>
<div id="dialog-inner"><iframe frameborder="0" scrolling="auto" src="about:blank" id="dialog-iframe" name="dialog_iframe"></iframe></div>
</div>

<TMPL_IF NAME=OPEN_DIALOG>
<script type="text/javascript">
openDialog(this.form, 'dialog_restore_upload', 'magic_token=<TMPL_VAR NAME=MAGIC_TOKEN>&amp;files=<TMPL_VAR NAME=FILES>&amp;assets=<TMPL_VAR NAME=ASSETS>&amp;current_file=<TMPL_VAR NAME=FILENAME>&amp;last=0&amp;redirect=1;');
</script>
</TMPL_IF>

</body>
</html>
