<mt:setvar name="page_title" value="<__trans phrase="System: Feedback Settings">">
<$mt:setvar name="position_actions_bottom" value="1"$>
<mt:setvar name="system-feedback-settings" value="1">
<MTSetVarBlock name="system_msg">
    <mt:if name="saved">
        <mtapp:statusmsg
            id="saved"
            class="success">
            <__trans phrase="Your feedback preferences have been saved.">
        </mtapp:statusmsg>
    </mt:if>
</MTSetVarBlock>
<MTSetVarBlock name="content_nav">
    <mt:include name="include/cfg_system_content_nav.tmpl">
</MTSetVarBlock>

<mt:include name="include/header.tmpl">

<form action="<mt:var name="script_url">" method="post">
<input type="hidden" name="__mode" value="save_cfg_system_feedback" />
<input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

<$mt:include name="prefs/sys_feedback.tmpl"$> 

<mt:setvarblock name="action_buttons">
    <button
        type="submit"
        accesskey="s"
        title="<__trans phrase="Save changes to these settings (s)">"
        class="primary-button"
        ><__trans phrase="Save Changes"></button>
</mt:setvarblock>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">

</form>

<mt:include name="include/footer.tmpl">
