<$mt:var name="page_title" value="<__trans phrase="Plugin Preferences">"$>
<$mt:var name="position_actions_top" value="1"$>
<$mt:var name="system-plugin-settings" value="1"$>

<mt:setvarblock name="content_nav">
    <mt:include name="include/plugins_content_nav.tmpl">
</mt:setvarblock>

<mt:setvarblock name="plugins"> class="active"</mt:setvarblock>
<mt:setvarblock name="system_msg">
    <mt:if name="saved">
        <mtapp:statusmsg
            id="saved"
            class="success">
            <__trans phrase="Your plugin settings have been saved.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="reset">
        <mtapp:statusmsg
            id="reset"
            class="success">
            <__trans phrase="Your plugin settings have been reset.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="switched">
        <mt:if name="needs_restart">
            <mtapp:statusmsg
                id="switched"
                class="success">
                <__trans phrase="Your plugins have been reconfigured. Since you're running in a persistent application environment, you will need to restart your web server for these changes to take effect.">
            </mtapp:statusmsg>
        <mt:else>
            <mtapp:statusmsg
                id="switched"
                class="success">
                <__trans phrase="Your plugins have been reconfigured.">
            </mtapp:statusmsg>
        </mt:if>
    </mt:if>
</mt:setvarblock>

<mt:setvarblock name="html_head" append="1">
    <script src="<mt:StaticWebPath>jquery/jquery.history.js" type="text/javascript"></script>
    <script src="<mt:StaticWebPath>js/melody/cfg_plugins.js" type="text/javascript"></script>
    <script type="text/javascript">
    /* <![CDATA[ */
    var last_shown;
    <mt:if name="can_config">
    function resetPlugin(f) {
        if (confirm("<__trans phrase="Are you sure you want to reset the settings for this plugin?" escape="js">")) {
            f['__mode'].value = 'reset_plugin_config';
            f.submit();
        }
    }
    </mt:if>
    /* ]]> */
    </script>
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<!-- START mt:loop name="plugin_groups" -->
<mt:loop name="plugin_loop">
  <mt:if name="plugin_has_config"><mt:if name="can_config">

    <div id="plugin-<$mt:var name="plugin_id" dirify="1"$>-tab-content" class="plugin_form">

      <h3 class="plugin-name"><$mt:var name="plugin_name" escape="html"$></h3>

      <mt:if name="plugin_error">
        <mtapp:statusmsg
            id="plugin-error"
            class="error">
            <__trans phrase="Plugin error:"><br /><code style="white-space: pre"><mt:var name="plugin_error"></code>
        </mtapp:statusmsg>
      </mt:if>

      <form method="post" action="<$mt:var name="script_url"$>" id="plugin-<$mt:var name="plugin_id" dirify="1"$>-form">
        <input type="hidden" name="__mode" value="save_plugin_config" />
<mt:if name="blog_id">
         <input type="hidden" name="blog_id" value="<$mt:var name="blog_id"$>" />
</mt:if>
         <input type="hidden" name="return_args" value="<$mt:var name="return_args" escape="html"$>" />
         <input type="hidden" name="plugin_sig" value="<$mt:var name="plugin_sig" escape="html"$>" />
         <input type="hidden" name="magic_token" value="<$mt:var name="magic_token"$>" />
         <fieldset>
           <$mt:var name="plugin_config_html"$>
         </fieldset>
         <div class="actions-bar settings-actions-bar">
           <div class="actions-bar-inner pkg actions">
             <button
                mt:mode="save_plugin_config"
                type="submit"
                class="primary button"
                ><__trans phrase="Save Changes"></button>
<mt:if name="plugin_settings_id">
             <button
                onclick="resetPlugin(getByID('plugin-<mt:var name="plugin_id">-form')); return false"
                type="submit"
                ><__trans phrase="Reset to Defaults"></button>
</mt:if>
            </div>
          </div>
        </form>
    </div>
    </mt:if></mt:if>
<mt:else>
    <mt:if name="blog_view">
        <mtapp:statusmsg
            id="no-plugin"
            class="info">
            <__trans phrase="No plugins with blog-level configuration settings are installed.">
        </mtapp:statusmsg>
    <mt:else>
        <mtapp:statusmsg
            id="no-plugin"
            class="info">
            <__trans phrase="No plugins with configuration settings are installed.">
        </mtapp:statusmsg>
    </mt:if>
</mt:loop>

<mt:include name="include/footer.tmpl">
