<mt:setvar name="page_title" value="<__trans phrase="Publishing Settings">">
<$mt:setvar name="position_actions_bottom" value="1"$>
<mt:setvar name="publishing" value="1">
<mt:setvarblock name="system_msg">

    <mt:if name="error">
        <mtapp:statusmsg
            id="error"
            class="error">
            <mt:var name="error">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="no_writedir">
        <mtapp:statusmsg
            id="no-writedir"
            class="error">
            <__trans phrase="Error: Melody was not able to create a directory for publishing your blog. If you create this directory yourself, assign sufficient permissions that allow Melody to create files within it.">
        </mtapp:statusmsg>
    <mt:else>

    <mt:if name="no_cachedir">
        <mtapp:statusmsg
            id="no-cachedir"
            class="error">
            <__trans phrase="Error: Melody was not able to create a directory to cache your dynamic templates. You should create a directory called <code>[_1]</code> underneath your blog directory." params="templates_c">
        </mtapp:statusmsg>
    <mt:else>

    <mt:if name="no_writecache">
        <mtapp:statusmsg
            id="no-writecache"
            class="error">
            <__trans phrase="Error: Melody cannot write to the template cache directory. Please check the permissions for the directory called <code>[_1]</code> underneath your blog directory." params="templates_c">
        </mtapp:statusmsg>
    <mt:else>

    <mt:if name="no_cache_path">
        <mtapp:statusmsg
            id="no-cache-path"
            class="error">
            <__trans phrase="Error: Melody was not able to create a directory to cache your dynamic templates. You should create a directory called <code>[_1]</code> underneath your blog directory." params="cache">
        </mtapp:statusmsg>
    <mt:else>

    <mt:if name="no_write_cache_path">
        <mtapp:statusmsg
            id="no-write-cache-path"
            class="error">
            <__trans phrase="Error: Melody cannot write to the template cache directory. Please check the permissions for the directory called <code>[_1]</code> underneath your blog directory." params="cache">
        </mtapp:statusmsg>

    <mt:else>

    <mt:if name="saved">
        <mt:if name="archives_changed">
            <mtapp:statusmsg
                id="saved"
                class="success"
                rebuild="all">
                <__trans phrase="Your blog's archive configuration has been saved.">
            </mtapp:statusmsg>
        <mt:else>
            <mtapp:statusmsg
                id="saved"
                class="success">
                <__trans phrase="Your blog's archive configuration has been saved.">
            </mtapp:statusmsg>
        </mt:if>
    </mt:if>
    </mt:if>
    </mt:if>
    </mt:if>
    </mt:if>

    <mt:if name="saved_added">
        <mtapp:statusmsg
            id="saved"
            class="success"
            rebuild="all">
            <__trans phrase="You have successfully added a new archive-template association.">
            <mt:if name="archives_changed">
                <__trans phrase="You may need to update your 'Master Archive Index' template to account for your new archive configuration.">
            </mt:if>
            <mt:if name="saved_deleted">
                <__trans phrase="The selected archive-template associations have been deleted.">
            </mt:if>
        </mtapp:statusmsg>
    </mt:if>
    </mt:if>

    <mt:if name="warning_include"> 
        <mtapp:statusmsg
            id="warning_include"
            class="alert">
            <__trans phrase="Warning: one or more of your templates is set to publish dynamically using PHP, however your server side include method may not be compatible with dynamic publishing.">
        </mtapp:statusmsg>
   </mt:if>
</mt:setvarblock>
<mt:setvarblock name="content_nav">
    <mt:include name="include/cfg_content_nav.tmpl">
</mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
<script type="text/javascript" src="<mt:var name="static_uri">js/tc/client.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
function validate (f) {
    if (!f.site_path.value) {
        alert('<__trans phrase="You must set your Local Site Path." escape="singlequotes">');
        return false;
    } else if (!is_valid_url(f.site_url.value)){
        alert('<__trans phrase="You must set a valid Site URL." escape="singlequotes">');
        return false;
    } else if (!is_valid_path(f.site_path.value)){
        alert('<__trans phrase="You must set a valid Local Site Path." escape="singlequotes">');
        return false;
    }
    if (f.enable_archive_paths.checked) {
        if (!f.archive_path.value) {
            alert('<__trans phrase="You must set Local Archive Path." escape="singlequotes">');
            return false;
        } else if (!is_valid_url(f.archive_url.value)){
            alert('<__trans phrase="You must set a valid Archive URL." escape="singlequotes">');
            return false;
        } else if (!is_valid_path(f.archive_path.value)){
            alert('<__trans phrase="You must set a valid Local Archive Path." escape="singlequotes">');
            return false;
        }
    }
    f.site_url.disabled = false;
    f.site_path.disabled = false;
    f.archive_path.disabled = false;
    f.archive_url.disabled = false;
    return true;
}
function is_valid_url(url_){
    return url_.match( /^https?:\/\/[A-Za-z0-9!$%()=_.:,;@~-]+/ );
}
function is_valid_path(path_){
    var str = path_.replace(/[ "%<>\[\\\]\^`{\|}~]/g, "");
    str = encodeURI(str);
    if (str.indexOf('%') != -1) {
        return false;
    }
    if (str.match(/\.\./)) {
        return false;
    }
    return true;
}

function disableFields(path1,path2) {
    var url_is = "<mt:var name="site_url" encode_js="1">";
    var path_is = "<mt:var name="site_path" encode_js="1">";
    if (url_is.match(/BLOG-NAME/)) {
        var daURL = getByID(path1);
        var lock = path1 +"-lock";
        var lock_img = getByID(lock);
        daURL.disabled = false;
        lock_img.style.display = 'none';
    }
    if (path_is.match(/BLOG-NAME/)) {
        var daPath = getByID(path2);
        var lock = path2 +"-lock";
        var lock_img = getByID(lock);
        daPath.disabled = false;
        lock_img.style.display = 'none';
    }
    return;
}

function toggleFile(path) {
    var fld = getByID(path);
    if (fld) {
        fld.disabled = false;
        fld.focus();
        var which_warning = path + "-warning";
        var urlwarn = getByID(which_warning);
        if (urlwarn) urlwarn.style.display = "block";
    }
    var which_lock = path + "-lock";
    var img = getByID(which_lock);
    if (img)
        img.style.display = 'none';
    return false;
}

function init() {
    // conditionally disables
    disableFields('site_url','site_path');
}

TC.attachLoadEvent( init );
/* ]]> */
</script>
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<div id="cfg-archives">

<form name="cfg_form" id="cfg_form" method="post" action="<mt:var name="script_url">"<mt:if name="can_set_publish_paths">  onsubmit="return validate(this)"</mt:if>>
<input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
<input type="hidden" name="__mode" value="save" />
<input type="hidden" name="_type" value="blog" />
<input type="hidden" name="id" value="<mt:var name="blog_id">" />
<input type="hidden" name="cfg_screen" value="cfg_archives" />
<input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

<$mt:include name="prefs/publishing.tmpl"$>

<mt:setvarblock name="action_buttons">
    <button
        type="submit"
        accesskey="s"
        title="<__trans phrase="Save changes to these settings (s)">"
        class="primary button"
        ><__trans phrase="Save Changes"></button>
</mt:setvarblock>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">
</form>

</div>

<mt:include name="include/footer.tmpl">
