<mt:setvar name="page_title" value="<__trans phrase="Registration Settings">">
<$mt:setvar name="position_actions_bottom" value="1"$>
<mt:setvar name="registration-settings" value="1">
<MTSetVarBlock name="system_msg">
    <mt:if name="error">
        <mtapp:statusmsg
            id="generic-error"
            class="error">
            <mt:var name="error">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="saved">
        <mtapp:statusmsg
            id="saved"
            class="success"
            rebuild="all">
            <__trans phrase="Your blog preferences have been saved.">
        </mtapp:statusmsg>
    </mt:if>
</MTSetVarBlock>
<MTSetVarBlock name="content_nav">
    <mt:include name="include/cfg_content_nav.tmpl">
</MTSetVarBlock>
<mt:include name="include/header.tmpl">

<form name="cfg_form" method="post" action="<mt:var name="script_url">">
    <input type="hidden" name="id" value="<mt:var name="id" escape="html">" />
    <input type="hidden" name="__mode" value="save" />
    <input type="hidden" name="_type" value="blog" />
    <input type="hidden" name="cfg_screen" value="cfg_registration" />
    <input type="hidden" name="blog_id" value="<mt:var name="blog_id" escape="html">" />
    <input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

<$mt:include name="prefs/registration.tmpl"$>

<mt:setvarblock name="action_buttons">
    <button
        type="submit"
        accesskey="s"
        title="<__trans phrase="Save changes to these settings (s)">"
        class="primary button"
        ><__trans phrase="Save Changes"></button>
</mt:setvarblock>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">

</form>

<mt:include name="include/footer.tmpl">
