<$mt:setvar name="page_title" value="<__trans phrase="Entry Settings">"$>
<$mt:setvar name="entries" value="1"$>
<mt:setvarblock name="content_nav">
    <mt:include name="include/cfg_content_nav.tmpl">
</mt:setvarblock>
<MTSetVarBlock name="system_msg">
    <mt:if name="error">
        <mtapp:statusmsg
            id="generic-error"
            class="error">
            <mt:var name="error">
        </mtapp:statusmsg>
    </mt:if>

    <mt:if name="saved">
        <mtapp:statusmsg
            id="saved"
            class="success"
            rebuild="all">
            <__trans phrase="Your preferences have been saved.">
        </mtapp:statusmsg>
    </mt:if>
</MTSetVarBlock>

<mt:include name="include/header.tmpl" position_actions_bottom="1">

<mt:section html_tag="div" id="cfg-entry_display">

<mtapp:form id="cfg_entry" name="cfg_entry" mode="save" object_type="blog">
    <input type="hidden" name="cfg_screen" value="cfg_entry" />

<$mt:include name="prefs/entry.tmpl"$>

<mt:setvarblock name="action_buttons" id="action-buttons">
    <button
        type="submit"
        accesskey="s"
        title="<__trans phrase="Save changes to these settings (s)">"
        class="primary button"
        ><__trans phrase="Save Changes"></button>
</mt:setvarblock>

<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">

</mtapp:form>

</mt:section>

<mt:include name="include/footer.tmpl">
