<$mt:setvar name="page_title" value="<__trans phrase="Blog Settings">"$>
<$mt:setvar name="position_actions_bottom" value="1"$>
<$mt:setvar name="general-settings" value="1"$>
<mt:setvarblock name="system_msg">
    <mt:if name="error">
        <mtapp:statusmsg
            id="generic-error"
            class="error">
            <mt:var name="error">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="saved">
        <mtapp:statusmsg
            id="saved"
            class="success"
            rebuild="all">
            <__trans phrase="Your preferences have been saved.">
        </mtapp:statusmsg>
    </mt:if>
</mt:setvarblock>
<mt:setvarblock name="content_nav">
    <mt:include name="include/cfg_content_nav.tmpl">
</mt:setvarblock>

<mt:setvarblock name="js_include" append="1">
<script type="text/javascript" src="<mt:var name="static_uri">js/tc/client.js"></script>
<script src="<mt:StaticWebPath>jquery/jquery.history.js" type="text/javascript"></script>
<script type="text/javascript">
var mt;
mt = { 
  screen: {
    creative_commons_url: 'http://creativecommons.org/license/?partner=SixApart&amp;jurisdiction_choose=1&amp;exit_url=<mt:var name="script_full_url">?__mode=cc_return%26license_code=[license_code]%26license_url=[license_url]%26license_button=[license_button]',
    site_url: '<mt:var name="site_url" encode_js="1">',
    site_path: '<mt:var name="site_path" encode_js="1">',
    trans: {
      SET_BLOG_NAME: '<__trans phrase="You must set your Blog Name." escape="singlequotes">',
      SET_TIMEZONE: '<__trans phrase="You did not select a timezone." escape="singlequotes">',
      SET_LOCAL: '<__trans phrase="You must set your Local Site Path." escape="singlequotes">',
      SET_ARCHIVE_PATH: '<__trans phrase="You must set Local Archive Path." escape="singlequotes">',
      SET_VALID_ARCHIVE_URL: '<__trans phrase="You must set a valid Archive URL." escape="singlequotes">',
      SET_VALID_ARCHIVE_PATH: '<__trans phrase="You must set a valid Local Archive Path." escape="singlequotes">',
      SET_VALID_LOCAL_PATH: '<__trans phrase="You must set a valid Local Site Path." escape="singlequotes">',
      SET_VALID_SITE_URL: '<__trans phrase="You must set a valid Site URL." escape="singlequotes">'
    }
  }
};
</script>
<script type="text/javascript" src="<mt:var name="static_uri">js/screens/cfg_blog_settings.js"></script>
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<form name="cfg_form" method="post" action="<mt:var name="script_url">" onsubmit="return validate(this)">
<input type="hidden" name="id" value="<mt:var name="id" escape="html">" />
<input type="hidden" name="__mode" value="save" />
<input type="hidden" name="_type" value="blog" />
<input type="hidden" name="cfg_screen" value="cfg_prefs" />
<input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
<input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

  <div id="general" class="blog-preferences">
    <$mt:include name="prefs/general.tmpl"$> 
  </div>
  <div id="publishing" class="blog-preferences">
    <$mt:include name="prefs/publishing.tmpl"$>
  </div>
  <div id="entry" class="blog-preferences">
    <$mt:include name="prefs/entry.tmpl"$>
  </div>
  <div id="comments" class="blog-preferences">
    <$mt:include name="prefs/comments.tmpl"$>
  </div>
  <div id="trackbacks" class="blog-preferences">
    <$mt:include name="prefs/trackbacks.tmpl"$>
  </div>
  <div id="registration" class="blog-preferences">
    <$mt:include name="prefs/registration.tmpl"$>
  </div>
  <div id="spam" class="blog-preferences">
    <$mt:include name="prefs/spam.tmpl"$>
  </div>
  <div id="web-services" class="blog-preferences">
    <$mt:include name="prefs/web_services.tmpl"$>
  </div>

<mt:setvarblock name="action_buttons">
    <button
        type="submit"
        accesskey="s"
        title="<__trans phrase="Save changes to these settings (s)">"
        class="primary button"
        ><__trans phrase="Save Changes"></button>
</mt:setvarblock>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">

</form>

<mt:include name="include/footer.tmpl">
