<mt:setvar name="page_title" value="<__trans phrase="System Settings">">
<$mt:setvar name="position_actions_bottom" value="1"$>
<mt:setvar name="system-general-settings" value="1">
<MTSetVarBlock name="system_msg">
    <mt:if name="error">
        <mtapp:statusmsg
            id="generic-error"
            class="error">
            <mt:var name="error">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="test_mail_sent">
        <mtapp:statusmsg
            id="saved"
            class="success">
            <__trans phrase="Test email was sent.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="saved">
        <mtapp:statusmsg
            id="saved"
            class="success">
            <__trans phrase="Your settings have been saved.">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="config_warning">
        <mtapp:statusmsg
            id="error"
            class="error">
            <mt:var name="config_warning">
        </mtapp:statusmsg>
    </mt:if>
</MTSetVarBlock>
<MTSetVarBlock name="content_nav">
    <mt:include name="include/cfg_system_content_nav.tmpl">
</MTSetVarBlock>

<mt:setvarblock name="js_include" append="1">
<script src="<mt:StaticWebPath>jquery/jquery.history.js" type="text/javascript"></script>
<script type="text/javascript">
var mt;
mt = { 
  screen: {
    trans: {
      SELECT_BLOG: '<__trans phrase="Select blog">',
      NO_BLOG: '<__trans phrase="(No blog selected)">',
      VALID_SITE_ROOT: '<__trans phrase="You must set a valid Default Site Root." escape="singlequotes">',
      VALID_DEFAULT_SITE_URL: '<__trans phrase="You must set a valid Default Site URL." escape="singlequotes">',
      NONE_SELECTED: '<__trans phrase="(None selected)">'
    }
  }
};
</script>
<script type="text/javascript" src="<mt:var name="static_uri">js/screens/cfg_system_settings.js"></script>
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<form action="<mt:var name="script_url">" method="post" onsubmit="return validate(this);">
  <input type="hidden" name="__mode" value="save_cfg_system" />
  <input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
  <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

  <div id="general" class="sys-preferences">
    <$mt:include name="prefs/sys_general.tmpl"$> 
  </div>
  <div id="users" class="sys-preferences">
    <$mt:include name="prefs/sys_users.tmpl"$> 
  </div>
  <div id="feedback" class="sys-preferences">
    <$mt:include name="prefs/sys_feedback.tmpl"$> 
  </div>

<mt:setvarblock name="action_buttons">
    <button
        type="submit"
        accesskey="s"
        title="<__trans phrase="Save changes to these settings (s)">"
        class="primary button"
        ><__trans phrase="Save Changes"></button>
</mt:setvarblock>

<fieldset>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">
</fieldset>

</form>

<mt:include name="include/footer.tmpl">
