</pre>
</div>

<script type="text/javascript">
<!--
var progress = getByID("progress-bar");
if (progress) {
    progress.style.display = "none";
}
// -->
</script>

<TMPL_IF NAME=RESTORE_END>
<TMPL_IF NAME=ERROR>
<p><strong><MT_TRANS phrase="An error occurred during the restore process: [_1] Please check your restore file." params="<TMPL_VAR NAME=ERROR>"></strong></p>
<div class="panel-commands">
    <form action="" method="get" onsubmit="return false" onclick="window.focus();">
        <input type="button" value="<MT_TRANS phrase="View Activity Log">" onclick="return closeDialog('<TMPL_VAR NAME=ERROR_URL>')" />
    </form>
</div>
<TMPL_ELSE>
<p><strong><MT_TRANS phrase="All data restored successfully!"></strong></p>
<div class="panel-commands">
    <form action="" method="get" onsubmit="return false" onclick="window.focus();">
        <input type="button" value="<MT_TRANS phrase="OK">" onclick="return closeDialog()" />
    </form>
</div>
</TMPL_IF>

<TMPL_ELSE>
<form name="next_page" id="next_page" method="POST" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="__mode" value="<TMPL_VAR NAME=NEXT_MODE>" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />
<input type="hidden" name="files" value="<TMPL_VAR NAME=FILES>" />
<input type="hidden" name="assets" value="<TMPL_VAR NAME=ASSETS>" />
<input type="hidden" name="current_file" value="<TMPL_VAR NAME=NAME>" />
<input type="hidden" name="last" value="<TMPL_VAR NAME=LAST>" />
<input type="hidden" name="redirect" value="1" />
<input type="hidden" name="is_dirty" value="<TMPL_VAR NAME=IS_DIRTY>" />
<input type="hidden" name="is_asset" value="<TMPL_VAR NAME=IS_ASSET>" />
<input type="hidden" name="objects_json" value="<TMPL_VAR NAME=OBJECTS_JSON ESCAPE=HTML>" />
<input type="hidden" name="deferred_json" value="<TMPL_VAR NAME=DEFERRED_JSON ESCAPE=HTML>" />
</form>
<div class="panel-commands">
    <form id="command_form" action="" method="get" onsubmit="return false" onclick="window.focus();">
    </form>
</div>
<script type="text/javascript">
function submit_form() {
    var f = document['next_page'];
    if (f) {
        f.submit();
    }
}

var timer;
timer = window.setTimeout("submit_form()", 3000);

function stopTimer() {
    window.clearTimeout(timer);
    var p = getByID("message");
    p.innerHTML = '';
    var button = document.createElement('input');
    button.type = 'button';
    button.value = "<MT_TRANS phrase="Next Page">";
    button.onclick = submit_form;
    getByID('command_form').appendChild(button);
}
</script>
<p id="message"><MT_TRANS phrase="The page will redirect to a new page in 3 seconds.  Click <a href='javascript:void(0)' onclick='return stopTimer()'>here</a> to stop the timer."></p>
</TMPL_IF>
<TMPL_INCLUDE NAME=footer-dialog.tmpl>
