<TMPL_UNLESS NAME=JSON>
<TMPL_INCLUDE NAME="header-dialog.tmpl">

<div class="modal_width" id="list-assets-dialog">

<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>js/tc/client.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>js/tc/json.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>js/dialog.js"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>js/assetdetail.js"></script>

<script type="text/javascript">
<!--
function dialogClose(data) {
    if (!data) {
        closeDialog();
        return;
    }
    // user made a selection and clicked insert...
    var f = document.forms['select_asset'];
    var sel = dlg.panel.tableSelect.selected();
    f['id'].value = sel[0].value;
    f.submit();
}

function viewChange(ds, fn) {
    checkOpened();
    if (fn) fn(ds);
}

var tableSelect;
var dlg;
function init() {
	// setup
	dlg = new Dialog.Simple("list-assets");
	var panel = new ListingPanel("asset");
	dlg.panel = panel;

	// hook into view updates so we can close any opened detail panel
	var old_update = panel.datasource.onUpdate;
	panel.datasource.onUpdate = function(ds) { viewChange(ds, old_update) };

	panel.pager.setState(<TMPL_VAR NAME=PAGER_JSON>);
	panel.parent = dlg;
	dlg.open({}, dialogClose);
}
TC.attachLoadEvent( init );
// -->
</script>

<div id="asset-panel" class="panel">

<h2><span class="weblog-title-highlight"><TMPL_IF NAME=EDIT_BLOG_ID><TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML><TMPL_ELSE><MT_TRANS phrase="System-wide"></TMPL_IF>: </span> <MT_TRANS phrase="Assets"></h2>

    <span class="modal_added"><MT_TRANS phrase="Select the asset you would like to insert, or upload a new one."></span>

<p class="page-desc">
<TMPL_IF NAME=EDIT_BLOG_ID>
<TMPL_IF NAME=CAN_UPLOAD>
<img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/create.gif" alt="<MT_TRANS phrase="Upload New File">" width="9" height="9" />
<a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=start_upload&amp;_type=asset&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>&amp;dialog_view=1&amp;entry_insert=1&amp;edit_field=<TMPL_VAR NAME=EDIT_FIELD>&amp;return_args=<TMPL_VAR NAME=RETURN_ARGS ESCAPE=URL>')"><MT_TRANS phrase="Upload New File"></a>
</TMPL_IF>
</TMPL_IF>
</p>

<div class="search-box">
    <TMPL_IF PANEL_SEARCHABLE>
    <form action="" method="get">
        <p class="page-desc"><TMPL_VAR NAME=SEARCH_PROMPT>
        <input type="text" class="search-input"<TMPL_UNLESS PANEL_SEARCHABLE> disabled="disabled"</TMPL_UNLESS> />
        <input type="image" class="search-command" src="<TMPL_VAR NAME=STATIC_URI>images/nav_icons/color/search.gif" title="<MT_TRANS phrase="Search">" />
        <input type="button" class="search-reset hidden" value="<MT_TRANS phrase="View All">" />
    </p></form>
    <TMPL_ELSE>
    <p class="page-desc">&nbsp;<img border="0" src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="17" height="20"></p>
    </TMPL_IF>
</div>

<div class="list-wrapper">
</TMPL_UNLESS>
<TMPL_IF NAME=OBJECT_LOOP><TMPL_UNLESS NAME=JSON>
<form method="post" action="<TMPL_VAR NAME=SCRIPT_URL>" name="select_asset">
<input type="hidden" name="__mode" value="complete_insert" />
<input type="hidden" name="_type" value="asset" />
<input type="hidden" name="return_args" value="<TMPL_VAR NAME=RETURN_ARGS ESCAPE=HTML>" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />
<input type="hidden" name="dialog_view" value="1" />
<TMPL_IF NAME=EDIT_BLOG_ID>
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=EDIT_BLOG_ID>" />
<input type="hidden" name="id" value="" />
<input type="hidden" name="edit_field" value="<TMPL_VAR NAME=EDIT_FIELD>" />
<input type="hidden" name="entry_insert" value="1" />
<input type="hidden" name="direct_asset_insert" value="1" />
</TMPL_IF>
</form>

<div class="selector list" id="selector">
<form action="" method="get" onsubmit="return false">
<table cellspacing="0" class="list-heading <TMPL_UNLESS NAME=EDIT_BLOG_ID>show-weblog </TMPL_UNLESS><TMPL_IF NAME=VIEW_EXPANDED>expanded<TMPL_ELSE>compact</TMPL_IF>">

<tr>
<th class="cb"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="15" height="1"></th>
<th id="as-file-status"><img src="<TMPL_VAR NAME=STATIC_URI>images/status_icons/flag.gif" alt="<MT_TRANS phrase="Status">" title="<MT_TRANS phrase="Status">" width="9" height="9" /></th>
<th class="panel-label"><MT_TRANS phrase="Filename"></th>
<TMPL_UNLESS NAME=EDIT_BLOG_ID>
<th id="as-weblog"><MT_TRANS phrase="Weblog"></th>
</TMPL_UNLESS>
<th class="panel-description"><span class="detail"><MT_TRANS phrase="Size"></span></th>
</tr>
</table>

        <div class="list-data-wrapper-modal list-data">
</TMPL_UNLESS>
            <div class="list-data-layout-modal">
            <table cellspacing="0" class="list-data" id="assetDisplay">
<TMPL_LOOP NAME=OBJECT_LOOP>
<tr id="asset-<TMPL_VAR NAME=ID>" class="<TMPL_IF __ODD__>odd<TMPL_ELSE>even</TMPL_IF>">
<td class="cb"><input type="hidden" id="asset-<TMPL_VAR NAME=ID>-json" value="<TMPL_VAR NAME=METADATA_JSON ESCAPE=HTML>" />
<input type="radio" name="id" value="<TMPL_VAR NAME=ID>" class="select" /></td>
<td class="status-<TMPL_IF NAME=FILE_IS_MISSING>missing<TMPL_ELSE>publish</TMPL_IF>"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" <TMPL_IF NAME=FILE_IS_MISSING>alt="<MT_TRANS phrase="Pending">"<TMPL_ELSE>alt="<MT_TRANS phrase="Published">"</TMPL_IF> width="9" height="9" /</td>
<td class="panel-label"><TMPL_UNLESS NAME=FILE_IS_MISSING><a href="javascript:void(0)" onclick="toggleAssetDetails('<TMPL_VAR NAME=ID>');"></TMPL_UNLESS><TMPL_VAR NAME=FILE_NAME ESCAPE=HTML><TMPL_UNLESS NAME=FILE_IS_MISSING></a></TMPL_UNLESS>
<div id="asset-<TMPL_VAR NAME=ID>-detail" class="asset-detail-panel-modal"><div id="asset-<TMPL_VAR NAME=ID>-detail-inner-modal" class="asset-detail-panel-inner-modal"></div></div></td>
<TMPL_UNLESS NAME=EDIT_BLOG_ID>
<td class="detail"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=list_assets&amp;blog_id=<TMPL_VAR NAME=BLOG_ID>"><TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML></a></td>
</TMPL_UNLESS>
            <td class="panel-description"><span class="detail">
            <TMPL_IF NAME=FILE_SIZE_FORMATTED>
            <span class="float_desc" title="<TMPL_VAR NAME=FILE_SIZE>"><TMPL_VAR NAME=FILE_SIZE_FORMATTED></span>
            <TMPL_ELSE>
            <span class="float_desc"><TMPL_VAR NAME=FILE_SIZE></span>
            </TMPL_IF>
            <span class="link">
            <TMPL_IF NAME=URL><a href="<TMPL_VAR NAME=URL>" target="view_uploaded" title="<MT_TRANS phrase="View File">"><img src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" alt="<MT_TRANS phrase="View File">" width="13" height="9" /></a><TMPL_ELSE>&nbsp;</TMPL_IF>
            </span></span>
            </td>
</tr>
</TMPL_LOOP>
</table>
</div>
<TMPL_UNLESS NAME=JSON>
</form>
</div>

<div class="pager"></div>

<div class="insert_button_spacing">&nbsp;</div>

<div class="panel-commands">
    <form action="" method="get" onsubmit="return false">
    <input class="cancel" type="button" value="<MT_TRANS phrase="Cancel">" />
    <input class="close" type="submit" value="<MT_TRANS phrase="Insert">" disabled="disabled" />
    </form>
</div>

</TMPL_UNLESS>
<TMPL_ELSE>
<br /><h4 class="message"><MT_TRANS phrase="No assets could be found."></h4>
</TMPL_IF><TMPL_UNLESS NAME=JSON>

</div>

</div>

<TMPL_INCLUDE NAME="footer-dialog.tmpl">
</TMPL_UNLESS>
