<TMPL_INCLUDE NAME=header-dialog.tmpl>

<h2><MT_TRANS phrase="Restoring [_1]..." params="<TMPL_VAR NAME=NAME>"></h2>

<div class="modal_width dialog import-process">

<div id="progress-bar"><img src="<TMPL_VAR NAME=STATIC_URI>images/indeterminate-progress-bar.gif" alt="" height="24" width="124" /></div>

<pre><TMPL_VAR NAME=NAME>

