<TMPL_IF NAME=EDITING_OTHER_PROFILE>
<TMPL_INCLUDE NAME=edit_profile.tmpl>
<TMPL_ELSE>
<TMPL_INCLUDE NAME="header.tmpl">

<script type="text/javascript">
<!--
function reveal_api_password() {
    var pw = getByID("api_password");
    alert("<MT_TRANS phrase="Your Web services password is currently">: " + pw.value);
    return false;
}
function tagDelimChoice(sel) {
    if (sel.selectedIndex == 2) {
        show("tag_delim_input");
        var el = getByID("tag_delim_input");
        if (el) el.focus();
    } else {
        hide("tag_delim_input");
    }
}

function togglePerms(c) {
    var p = TC.getElementsByTagAndClassName("input", "subPerm", TC.elementOrId("permission-list"));
    for (var i = 0; i < p.length; i++) {
        var sc = p[i];
        if (c.checked) {
            sc.checked = true;
            sc.disabled = true;
        } else {
            sc.checked = false;
            sc.disabled = false;
        }
    }
}
//-->
</script>

<div id="edit-author">

<form name="profile" id="profile" method="post" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="__mode" value="save" />
<input type="hidden" name="_type" value="author" />
<TMPL_IF NAME=ID>
<input type="hidden" name="id" value="<TMPL_VAR NAME=ID>" />
</TMPL_IF>
<input type="hidden" name="return_args" value="<TMPL_VAR NAME=RETURN_ARGS ESCAPE=HTML>" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />
<TMPL_IF NAME=NEW_OBJECT>
<input type="hidden" id="status" name="status" value="1">
</TMPL_IF>


<TMPL_UNLESS NAME=NEW_OBJECT>
<h2><span class="weblog-title-highlight"><TMPL_VAR NAME=NAME ESCAPE=HTML>:</span> <MT_TRANS phrase="User Profile"></h2>
<p><MT_TRANS phrase="_USAGE_PROFILE"></p>
<TMPL_ELSE>
<h2><MT_TRANS phrase="Create New User"></h2>
<p><MT_TRANS phrase="_USAGE_NEW_AUTHOR"></p>
</TMPL_UNLESS>

<div class="tabs">
<ul>
<li class="yah"><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=view&amp;_type=author<TMPL_IF NAME=ID>&amp;id=<TMPL_VAR NAME=ID></TMPL_IF>"><MT_TRANS phrase="Profile"></a></li>
<TMPL_UNLESS NAME=NEW_OBJECT>
<li><a href="<TMPL_VAR NAME=SCRIPT_URL>?__mode=list_associations&amp;author_id=<TMPL_VAR NAME=ID>"><MT_TRANS phrase="Associations"></a></li>
</TMPL_UNLESS>
</ul>
</div>

<TMPL_IF NAME=SAVED>
<h4 class="message"><MT_TRANS phrase="This profile has been updated."></h4>
</TMPL_IF>
<TMPL_IF NAME=ERROR>
<div class="error-message"><TMPL_VAR NAME=ERROR></div>
</TMPL_IF>

<div class="flt-wrppr">

<fieldset>

<h3><MT_TRANS phrase="Profile"></h3>

<div class="rightcol">

<div class="box permission-box">
<h4><MT_TRANS phrase="System Permissions"></h4>
<div class="inner">
<ul class="last" id="permission-list">
<li><input name="is_superuser" id="is_superuser" type="checkbox" value="1"<TMPL_UNLESS NAME=NEW_OBJECT><TMPL_IF NAME=PERM_IS_SUPERUSER> checked="checked"</TMPL_IF> disabled="disabled"</TMPL_UNLESS> onclick="togglePerms(this)" /> <label for="is_superuser"><MT_TRANS phrase="System Administrator"></label></li>
<li><input name="can_create_blog" id="can_create_blog" class="subPerm" type="checkbox" value="1"<TMPL_UNLESS NAME=NEW_OBJECT><TMPL_IF NAME=PERM_CAN_CREATE_BLOG> checked="checked"</TMPL_IF> disabled="disabled"</TMPL_UNLESS> /> <label for="can_create_blog"><MT_TRANS phrase="Create Weblogs"></label></li>
<li><input name="can_view_log" id="can_view_log" class="subPerm" type="checkbox" value="1"<TMPL_UNLESS NAME=NEW_OBJECT><TMPL_IF NAME=PERM_CAN_VIEW_LOG> checked="checked"</TMPL_IF> disabled="disabled"</TMPL_UNLESS> /> <label for="can_view_log"><MT_TRANS phrase="View Activity Log"></label></li>
</ul>
</div>
</div>

</div>

<div class="leftcol">

<div class="setting">
    <div class="label">
        <label for="name"><MT_TRANS phrase="Username"> (*):</label>
    </div>
    <div class="field">
        <input name="name" id="name" value="<TMPL_VAR NAME=NAME ESCAPE=HTML>" />
        <p>
        <TMPL_IF NAME=IS_ME>
        <MT_TRANS phrase="Your login name.">
        <TMPL_ELSE>
        <MT_TRANS phrase="The name used by this user to login.">
        </TMPL_IF>
        </p>
    </div>
</div>

<div class="setting">
    <div class="label">
        <label for="nickname"><MT_TRANS phrase="Display Name">:</label>
    </div>
    <div class="field">
        <input name="nickname" id="nickname" value="<TMPL_VAR NAME=NICKNAME ESCAPE=HTML>" />
        <p>
        <TMPL_IF NAME=IS_ME>
        <MT_TRANS phrase="Your published name.">
        <TMPL_ELSE>
        <MT_TRANS phrase="The user's published name.">
        </TMPL_IF>
        </p>
    </div>
</div>

<div class="setting">
    <div class="label">
        <label for="email"><MT_TRANS phrase="Email Address"> (*):</label>
    </div>
    <div class="field">
        <input name="email" id="email" value="<TMPL_VAR NAME=EMAIL ESCAPE=HTML>" />
        <p>
        <TMPL_IF NAME=IS_ME>
        <MT_TRANS phrase="Your email address.">
        <TMPL_ELSE>
        <MT_TRANS phrase="The user's email address.">
        </TMPL_IF>
        </p>
    </div>
</div>

<div class="setting">
    <div class="label">
        <label for="url"><MT_TRANS phrase="Website URL">:</label>
    </div>
    <div class="field">
        <input name="url" id="url" value="<TMPL_VAR NAME=URL ESCAPE=HTML>" />
        <p>
        <TMPL_IF NAME=IS_ME>
        <MT_TRANS phrase="The URL of your website. (Optional)">
        <TMPL_ELSE>
        <MT_TRANS phrase="The URL of this user's website. (Optional)">
        </TMPL_IF>
        </p>
    </div>
</div>

<div class="setting">
    <div class="label">
        <label for="preferred_language"><MT_TRANS phrase="Language">:</label>
    </div>
    <div class="field">
		<select name="preferred_language" id="preferred_language"><TMPL_LOOP NAME=LANGUAGES>
			<option value="<TMPL_VAR NAME=L_TAG>"<TMPL_IF NAME=L_SELECTED> selected="selected"</TMPL_IF>><TMPL_VAR NAME=L_NAME></option></TMPL_LOOP>
		 </select>
        <p>
        <TMPL_IF NAME=IS_ME>
        <MT_TRANS phrase="Your preferred language.">
        <TMPL_ELSE>
        <MT_TRANS phrase="The user's preferred language.">
        </TMPL_IF>
        </p>
    </div>
</div>

<div class="setting">
    <div class="label">
        <label for="tag_delim"><MT_TRANS phrase="Tag Delimiter:"></label>
    </div>
    <div class="field">
		<select name="tag_delim" id="tag_delim">
			<option value="comma"<TMPL_IF NAME=AUTH_PREF_TAG_DELIM_COMMA> selected="selected"</TMPL_IF>><MT_TRANS phrase="Comma"></option>
			<option value="space"<TMPL_IF NAME=AUTH_PREF_TAG_DELIM_SPACE> selected="selected"</TMPL_IF>><MT_TRANS phrase="Space"></option>
		 </select>
        <p>
        <TMPL_IF NAME=IS_ME>
        <MT_TRANS phrase="Your preferred delimiter for entering tags.">
        <TMPL_ELSE>
        <MT_TRANS phrase="The user's preferred delimiter for entering tags.">
        </TMPL_IF>
        </p>
    </div>
</div>
</fieldset>

<fieldset>

<h3><MT_TRANS phrase="Password"></h3>

<TMPL_IF NAME=ID>
<div class="setting">
    <div class="label">
        <label for="old_pass"><MT_TRANS phrase="Current Password:"></label>
    </div>
    <div class="field">
        <input type="password" name="old_pass" id="old_pass" value="" />
        <p><MT_TRANS phrase="Enter the existing password to change it."></p>
    </div>
</div>
</TMPL_IF>

<div class="setting">
    <div class="label">
        <label for="pass"><TMPL_IF NAME=ID><MT_TRANS phrase="New Password:"><TMPL_ELSE><MT_TRANS phrase="Initial Password"> (*):</TMPL_IF></label>
    </div>
    <div class="field">
        <input type="password" name="pass" id="pass" value="" />
        <p>
        <TMPL_IF NAME=IS_ME>
        <MT_TRANS phrase="Select a password for yourself.">
        <TMPL_ELSE>
        <MT_TRANS phrase="Select a password for the user.">
        </TMPL_IF>
        </p>
    </div>
</div>

<div class="setting">
    <div class="label">
        <label for="pass_verify"><MT_TRANS phrase="Password Confirm:"></label><br />
    </div>
    <div class="field">
        <input type="password" name="pass_verify" id="pass_verify" value="" />
        <p><MT_TRANS phrase="Repeat the password for confirmation."></p>
    </div>
</div>

<div class="setting">
    <div class="label">
        <label for="hint"><MT_TRANS phrase="Password recovery word/phrase"> (*):</label>
    </div>
    <div class="field">
        <input name="hint" id="hint" value="<TMPL_VAR NAME=HINT ESCAPE=HTML>" />
        <p>
        <TMPL_IF NAME=IS_ME>
        <MT_TRANS phrase="This word or phrase will be required to recover the password if you forget it.">
        <TMPL_ELSE>
        <MT_TRANS phrase="This word or phrase will be required to recover the password if the user forgets it.">
        </TMPL_IF>
        </p>
    </div>
</div>

<TMPL_IF NAME=ID>
<div class="setting">
    <div class="label">
        <label><MT_TRANS phrase="Web Services Password:"></label>
    </div>
    <div class="field">
        <input type="password" name="api_password" id="api_password" value="<TMPL_VAR NAME=API_PASSWORD ESCAPE=HTML>" /> <a href="#" onclick="return reveal_api_password()"><MT_TRANS phrase="Reveal"></a>
        <p><MT_TRANS phrase="For use by Activity feeds and with XML-RPC and Atom-enabled clients."></p>
    </div>
</div>
</TMPL_IF>
</fieldset>

<div style="text-align: center;">
<input type="submit" value="<MT_TRANS phrase="Save Changes">" title="<MT_TRANS phrase="Save this user (s)">" accesskey="s" />
</div>

</div>
</div>

</form>

</div>

<TMPL_INCLUDE NAME="footer.tmpl">
</TMPL_IF>
