<mt:setvar name="edit_role" value="1">
<$mt:setvar name="position_actions_bottom" value="1"$>
<mt:if name="id">
    <mt:setvar name="page_title" value="<__trans phrase="Edit Role">">
    <MTSetVarBlock name="content_nav">
        <mt:include name="include/users_content_nav.tmpl">
    </MTSetVarBlock>
    <mt:else>
        <mt:setvar name="page_title" value="<__trans phrase="Create Role">">
    </mt:if>
<mt:setvarblock name="system_msg">
    <mt:if name="saved">
        <mtapp:statusmsg
            id="saved-added"
            class="success">
            <__trans phrase="Your changes have been saved.">
        </mtapp:statusmsg>
    </mt:if>
</mt:setvarblock>
<mt:setvarblock name="content_header">
    <ul class="action-link-list">
        <li>
            <a href="<mt:var name="script_url">?__mode=list_roles" class="icon-left icon-related"><__trans phrase="List Roles"></a>
    <mt:if name="id">
            - <a href="<mt:var name="script_url">?__mode=list_associations&amp;role_id=<mt:var name="id" escape="url">"><__trans phrase="[quant,_1,User,Users] with this role" params="<mt:var name="user_count">"></a>
    </mt:if>
        </li>
    </ul>
</mt:setvarblock>

<mt:setvarblock name="js_include" append="1">
<script type="text/javascript">
var mt;
mt = { 
  screen: {
    name: '<mt:var name="name" escape="html">',
    trans: {
      CHANGED_PRIVS: '<__trans phrase="You have changed the privileges for this role. This will alter what it is that the users associated with this role will be able to do. If you prefer, you can save this role with a different name.  Otherwise, be aware of any changes to users with this role.">'
    }
  }
};
</script>
<script type="text/javascript" src="<mt:var name="static_uri">js/screens/edit_role.js"></script>
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<div id="edit-role" onclick="handleClick(event)">

<mt:if name="id">
<form name="role" method="post" action="<mt:var name="script_url">" onsubmit="return this['__mode'] ? true : false">
<mt:else>
<form id="role" name="role" method="post" action="<mt:var name="script_url">">
</mt:if>

<mt:if name="id">
    <input type="hidden" name="id" value="<mt:var name="id" escape="html">" />
</mt:if>
    <input type="hidden" name="__mode" value="save_role" />
    <input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
    <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />

    <fieldset>
        <h3><__trans phrase="Role Details"></h3>
        <mtapp:setting
            id="name"
            label="<__trans phrase="Role Name">"
            required="1"
            hint="">
            <div class="textarea-wrapper">
                <input type="text" name="name" id="name" class="full-width" value="<mt:var name="name" escape="html">" />
            </div>
        </mtapp:setting>
        <mtapp:setting
            id="description"
            label="<__trans phrase="Description">"
            hint="">
            <textarea name="description" id="description" class="full-width short" cols="" rows=""><mt:var name="description" escape="html"></textarea>
        </mtapp:setting>
        <mt:if name="id">
            <mtapp:setting
                id="created_by"
                label="<__trans phrase="Created by">"
                hint="">
                <p><mt:if name="created_by"><mt:var name="created_by" escape="html"><mt:else><em><__trans phrase="System"></em></mt:if></p>
            </mtapp:setting>
        </mt:if>
    </fieldset>
    <fieldset>
        <h3><__trans phrase="Privileges"></h3>

<div id="permission-list" class="permission-list">

<mt:if name="is_enabled">
<!-- <a href="javascript:void(0)" onclick="return allPerms('permission', true)"><__trans phrase="Check All"></a> | -->
<!-- <a href="javascript:void(0)" onclick="return allPerms('permission', false)"><__trans phrase="Uncheck All"></a> -->
</mt:if>

<mt:Loop name="pgroups">

    <mtapp:setting
        id="$group_id"
        label="$group_label"
        hint="">
        <ul>
            <mt:Loop name="group_perms">
            <li>
                <label for="permission-<mt:var name="perm_id"/>">
                    <mt:setvarblock name="c">have_access-<mt:var name="perm_id"/></mt:setvarblock>
                    <input id="permission-<mt:var name="perm_id"/>" type="checkbox" onclick="checkPerms(this);" class="comment cb <mt:var name="perm_id"/>" name="permission" value="<mt:var name="perm_id"/>"<mt:if name="$c"> checked="checked"</mt:if><mt:if name="id"><mt:unless name="is_enabled"> disabled="disabled"</mt:unless></mt:if> />      

                    <mt:var name="perm_label" escape="html"/>
                </label>
            </li>
            </mt:Loop>
        </ul>
    </mtapp:setting>
</mt:Loop>

</div>

<mt:if name="id">
<mt:if name="same_perm_loop">
    <mtapp:setting
        id="same_permissions"
        label="<__trans phrase="Duplicate Roles">"
        hint="<__trans phrase="These roles have the same privileges as this role">">
        <div class="static">
        <mt:loop name="same_perm_loop">
        <a href="<mt:var name="script_url">?__mode=edit_role&amp;id=<mt:var name="id" escape="url">"><mt:var name="name" escape="html"></a> 
        </mt:loop>
        </div>
    </mtapp:setting>
</mt:if>
</mt:if>

</fieldset>



<mt:setvarblock name="action_buttons">
    <button
    <mt:if name="id">
        onclick="return checkChanged();"
    </mt:if>
        type="submit"
        accesskey="s"
        title="<__trans phrase="Save changes to this role (s)">"
        class="primary button"
        ><__trans phrase="Save Changes"></button>
</mt:setvarblock>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">
</form>

</div>

<mt:include name="include/footer.tmpl">
