<mt:setvar name="page_title" value="<__trans phrase="Edit Folder">">
<$mt:setvar name="position_actions_bottom" value="1"$>

<mt:setvarblock name="js_include" append="1">
<script type="text/javascript">
var mt;
mt = { 
  tag_delim: '<$mt:var name="auth_pref_tag_delim"$>',
  tag_list: <mt:if name="tags_js"><$mt:var name="tags_js"$><mt:else>undef</mt:if>,
  screen: {
    trans: {
      ENTER_FOLDER_LABEL: '<__trans phrase="You must specify a label for the folder." escape="singlequotes">'
    }
  }
};
</script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>js/tc/focus.js"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>js/tc/tagcomplete.js"></script>
<script type="text/javascript" src="<$mt:var name="static_uri"$>js/tc/client.js"></script>
<script type="text/javascript" src="<mt:var name="static_uri">js/screens/edit_folder.js"></script>
</mt:setvarblock>

<MTSetVarBlock name="system_msg">
    <mt:if name="error">
        <mtapp:statusmsg
            id="generic-error"
            class="error">
            <mt:var name="error">
        </mtapp:statusmsg>
    </mt:if>
    <mt:if name="saved">
        <mtapp:statusmsg
            id="saved"
            class="success"
            rebuild="all">
            <__trans phrase="Your folder changes have been made.">
        </mtapp:statusmsg>
    </mt:if>
</MTSetVarBlock>
<mt:setvarblock name="related_content">
    <mtapp:widget
        id="useful-links"
        label="<__trans phrase="Useful links">">
        <ul>
            <li><a href="<mt:var name="script_url">?__mode=list_cat&amp;_type=folder&amp;blog_id=<$mt:var name="blog_id" escape="url"$>"><__trans phrase="Manage Folders"></a></li>
            <li><a href="<mt:var name="script_url">?__mode=list_page&amp;blog_id=<$mt:var name="blog_id" escape="url"$>&amp;filter=category_id&amp;filter_val=<$mt:var name="id" escape="url"$>"><__trans phrase="Manage pages in this folder"></a></li>
        </ul>
    </mtapp:widget>
</mt:setvarblock>
<mt:include name="include/header.tmpl">

<div id="folder-details-content">

    <form method="post" action="<mt:var name="script_url">" onsubmit="return validate(this)">
        <input type="hidden" name="blog_id" value="<mt:var name="blog_id">" />
        <input type="hidden" name="__mode" value="save" />
        <input type="hidden" name="_type" value="<mt:var name="object_type">" />
        <input type="hidden" name="id" value="<mt:var name="id" escape="html">" />
        <input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
        <input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
        <input type="hidden" name="folder_parent" value="<mt:var name="parent" escape="html">" />

        <mtapp:setting
            id="label"
            label="<__trans phrase="Label">"
            help_page="folders"
            help_section="folder_label">
            <div class="textarea-wrapper">
                <input type="text" name="label" id="label" maxlength="100" value="<mt:var name="label" escape="html">" class="full-width" />
            </div>
        </mtapp:setting>

        <mtapp:setting
            id="basename"
            label="<__trans phrase="Path">"
            help_page="folders"
            help_section="folder_path">
            <input type="hidden" name="basename_manual" id="basename_manual" value="0" />
            <input type="hidden" name="basename_old" id="basename_old" value="<mt:var name="basename_old" escape="html">" />

            <$mt:var name="path_prefix" escape="html"$><input type="text" name="basename" id="basename" maxlength="250" value="<mt:var name="basename" escape="html">" class="quarter-width" onchange="setElementValue('basename', dirify(this.value))" style="float: none;" />
        </mtapp:setting>

        <mtapp:setting
            id="description"
            label="<__trans phrase="Description">"
            help_page="folders"
            help_section="folder_description">
            <textarea name="description" id="description" rows="" cols="" class="full-width short"><mt:var name="description" escape="html"></textarea>
        </mtapp:setting>



<!-- Tag MTML, derived from edit_category.mtml -->
	<mt:if name="auth_pref_tag_delim_comma">
                    <$mt:setvar name="tags_hint" value="<__trans phrase="(comma-delimited list)">"$>
                <mt:else>
                    <mt:if name="auth_pref_tag_delim_space">
                        <$mt:setvar name="tags_hint" value="<__trans phrase="(space-delimited list)">"$>
                    <mt:else>
                        <mt:setvarblock name="tags_hint">
                            <__trans phrase="(delimited by '[_1]')" params="<$mt:var name="auth_pref_tag_delim"$>">
                        </mt:setvarblock>
                    </mt:if>
                </mt:if>

                <mtapp:setting
                    id="tags"
                    
                    label="<__trans phrase="Tags">"
                    label_class="top-label"
                    hint="$tags_hint"
                    help_page="entries"
                    help_section="entry_tags">
                    <div class="textarea-wrapper">
                        <input type="text" name="tags" id="tags" class="full-width" value="<$mt:var name="tags" escape="html"$>" mt:watch-change="1" autocomplete="off" />
                        <input type="hidden" name="_ignore_tags" id="tags-cache" value="<$mt:var name="tags" escape="html"$>" />
                    </div>
                    <!-- FIXME - move this styling to the ie hacks css file -->
                    <!--[if lte IE 6.5]><div style="position:relative;"><![endif]-->
                    <div id="tags_completion"></div>
                    <!--[if lte IE 6.5]></div><![endif]-->
                </mtapp:setting>

<!-- End tag field -->




<mt:setvarblock name="action_buttons">
    <button
        type="submit"
        accesskey="s"
        title="<__trans phrase="Save changes to this folder (s)">"
        class="primary button"
        ><__trans phrase="Save Changes"></button>
</mt:setvarblock>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">
</form>

</div>

<$MTApp:PageActions$>

<mt:include name="include/footer.tmpl">
