
</div>

<TMPL_IF NAME=BLOG_ID>
<br style="clear: both;" />
<TMPL_ELSE>
<TMPL_IF NAME=SYSTEM_OVERVIEW_NAV>
<br style="clear: both;" />
</TMPL_IF>
</TMPL_IF>

</div>

<div id="copyright">
<b>Version <TMPL_VAR NAME=MT_VERSION></b> Copyright &copy; 2001-2007 Six Apart. All Rights Reserved.
</div>

<div id="dialog-container" style="display: none">
<div class="modal-mask opaque"></div>
<div id="dialog-inner"><iframe frameborder="0" scrolling="auto" src="about:blank" id="dialog-iframe" name="dialog_iframe"></iframe></div>
</div>

</body>
</html>
