<$mt:setvar name="page_title" value="<__trans phrase="Manage Assets">"$>
<mt:setvarblock name="system_msg">
    <mt:if name="saved_deleted">
        <mtapp:statusmsg
            id="saved-deleted"
            class="success">
            <__trans phrase="You have successfully deleted the asset(s).">
        </mtapp:statusmsg>
    </mt:if>
</mt:setvarblock>
<mt:setvarblock name="related_content">
    <mtapp:widget
        id="quickfilters"
        label="<__trans phrase="Quickfilters">">
        <$MTApp:ListFilters$>
    </mtapp:widget>
    <$mtapp:PageActions$>
</mt:setvarblock>
<mt:setvarblock name="html_body_footer">
    <$mt:include name="include/display_options.tmpl"$>
</mt:setvarblock>
<mt:setvarblock name="js_include" append="1">
<script type="text/javascript">
/* <![CDATA[ */
var tableSelect;
jQuery(document).ready( function($) {
   $('.listing-filter').listfilter('setfilter','<mt:var name="filter" escape="js" default="none">','<mt:var name="filter_val" escape="js">');
    // setup
    tableSelect = new TC.TableSelect( "<mt:var name="object_type">-listing-table" );
    tableSelect.rowSelect = true;
});
/* ]]> */
</script>
</mt:setvarblock>
<mt:setvarblock name="list_filter_form">
<form id="filter-form" method="get" action="<mt:var name="mt_url">">
    <input type="hidden" name="__mode" value="list_assets" />
    <mt:if name="edit_blog_id">
    <input type="hidden" name="blog_id" value="<mt:var name="edit_blog_id">" />
    </mt:if>
    <input id="filter" type="hidden" name="filter" value="" />
    <input id="filter_val" type="hidden" name="filter_val" value="" />
</form>
<div class="listing-filter">
    <div class="listing-filter-inner inner pkg">
        <form id="filter-select-form" method="get" action="<mt:var name="mt_url">" onsubmit="return execFilter(this)">
            <div class="filter">
                <div id="filter-title">
            <mt:if name="filter_key">
                <strong><__trans phrase="Showing only: [_1]" params="<mt:var name="filter_label">"></strong>
                <a class="filter-link" href="<mt:var name="script_url">?__mode=<mt:var name="mode" escape="url"><mt:if name="blog_id">&amp;blog_id=<mt:var name="blog_id"></mt:if>">[ <__trans phrase="Remove filter"> ]</a>
            <mt:else>
                <mt:unless name="filter">
                        <strong><__trans phrase="All [_1]" params="<$mt:var name="object_label_plural"$>"></strong>
                        <a href="javascript:void(0)" class="filter-toggle filter-link">[ <__trans phrase="change"> ]</a>
                <mt:else>
                        <strong><a href="javascript:void(0)" class="filter-toggle"><__trans phrase="[_1] where [_2] is [_3]" params='<$mt:var name="object_label_plural"$>%%<span id="filter-text-col">&nbsp;</span>%%<span id="filter-text-val"></span>'></a></strong>
                        <a class="filter-link" href="<mt:var name="script_url">?__mode=<mt:var name="mode" escape="url"><mt:if name="blog_id">&amp;blog_id=<mt:var name="blog_id"></mt:if><mt:if name="is_power_edit">&amp;is_power_edit=1</mt:if>">[ <__trans phrase="Remove filter"> ]</a>
                </mt:unless>
            </mt:if>
                </div>
                <div id="filter-select" style="display: none">
                    <__trans phrase="Show only assets where">
                    <!-- filter form starts -->
                        <select id="filter-col" name="filter">
                            <option value="class"><__trans phrase="type"></option>
                            <option value="exacttag"><__trans phrase="tag (exact match)"></option>
                            <option value="normalizedtag"><__trans phrase="tag (fuzzy match)"></option>
                        </select>
                        <__trans phrase="is">
                        <span id="filter-class" style="display: none">
                            <select id="class-val" name="filter_val" class="filter-value">
            <mt:loop name="class_loop">
                                <option value="<mt:var name="class_id">"><mt:var name="class_label" escape="html"></option>
            </mt:loop>
                            </select>
                        </span>
                        <span id="filter-exacttag" style="display: none">
                            <input type="text" id="exacttag-val" class="filter-value" name="filter_val" value="<mt:if name="filter_col_exacttag"><mt:var name="filter_val" escape="html"></mt:if><mt:if name="filter_col_normalizedtag"><mt:var name="filter_val" escape="html"></mt:if>" />
                        </span>
                        <span id="filter-normalizedtag" style="display: none">
                            <input type="text" id="normalizedtag-val" class="filter-value" name="filter_val" value="<mt:if name="filter_col_exacttag"><mt:var name="filter_val" escape="html"></mt:if><mt:if name="filter_col_normalizedtag"><mt:var name="filter_val" escape="html"></mt:if>" />
                        </span>
                    <!-- filter form ends -->
                    <span class="buttons">
                        <a href="javascript:void(0)"
                            id="filter-button"
                            onclick="return execFilter(getByID('filter-select-form'))"
                            type="submit"
                            ><__trans phrase="Filter"></a>
                        <a href="javascript:void(0)" class="filter-toggle"
                            type="submit"
                            ><__trans phrase="Cancel"></a>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
</mt:setvarblock>

<$mt:include name="include/header.tmpl" id="header_include"$>

<$mt:var name="list_filter_form"$>

<mt:include name="include/asset_table.tmpl">
<mt:include name="include/footer.tmpl">
