<$mt:setvar name="plugins" value="1"$>
<$mt:setvar name="page_title" value="<__trans phrase="Installed Plugins">"$>
<$mt:setvar name="position_actions_top" value="1"$>
<$mt:setvar name="system-plugin-settings" value="1"$>
<mt:setvarblock name="content_nav">
    <mt:include name="include/sysinfo_content_nav.tmpl">
</mt:setvarblock>

<mt:setvarblock name="plugins"> class="active"</mt:setvarblock>
<mt:setvarblock name="system_msg">
   <mt:if name="saved">
      <mtapp:statusmsg
           id="saved"
           class="success">
         <__trans phrase="Your plugin settings have been saved.">
      </mtapp:statusmsg>
   </mt:if>
   <mt:if name="reset">
      <mtapp:statusmsg
                id="reset"
                class="success">
                <__trans phrase="Your plugin settings have been reset.">
      </mtapp:statusmsg>
   </mt:if>
   <mt:if name="switched">
       <mt:if name="needs_restart">
           <mtapp:statusmsg
                id="switched"
                class="success">
                <__trans phrase="Your plugins have been reconfigured. Since you're running in a persistent application environment, you will need to restart your web server for these changes to take effect.">
            </mtapp:statusmsg>
       <mt:else>
           <mtapp:statusmsg
                id="switched"
                class="success">
                <__trans phrase="Your plugins have been reconfigured.">
           </mtapp:statusmsg>
       </mt:if>
   </mt:if>
</MTSetVarBlock>

<mt:setvarblock name="js_include" append="1">
<script type="text/javascript">
var mt;
mt = { 
  screen: {
    trans: {
    }
  }
};
</script>
<script type="text/javascript" src="<mt:var name="static_uri">js/screens/list_plugin.js"></script>
</mt:setvarblock>

<mt:include name="include/header.tmpl">

<mt:setvartemplate name="plugin_table">
<mtapp:listing id="$id" loop="$loop" default="<__trans phrase="No plugins have been found in the system.">" empty_message="<__trans phrase="No plugins have been found in the system.">" hide_pager="1" class="show_all" show_actions="1">
    <mt:if name="__first__">
    <thead>
        <tr>
            <th class="cb"><input type="checkbox" name="id-head" value="all" class="select" /></th>
            <th id="l-lbl"><__trans phrase="Name"></th>
            <th id="l-mxw"><__trans phrase="Version"></th>
            <th id="l-mxh"><__trans phrase="Description"></th>
        </tr>
    </thead>
    <tbody>
    </mt:if>
        <tr class="<mt:if name="__odd__">odd<mt:else>even</mt:if>">
            <td class="cb">
              <input type="checkbox" name="id" value="<$mt:var name="plugin_sig"$>" class="select" />
            </td>
            <td class="name"><mt:if name="plugin_folder"><mt:var name="plugin_folder"><mt:else><$mt:var name="plugin_name" escape="html"$></mt:if></td>
            <td class="version"><$mt:var name="plugin_version" escape="html"$></td>
            <td class="desc"><$mt:var name="plugin_desc"$></td>
        </tr>
    <mt:if name="__last__">
    </tbody>
    </mt:if>
<mt:else>
</mtapp:listing>
</mt:setvartemplate>

<mt:setvarblock name="action_buttons">
  <a href="javascript:void(0)"
     onclick="doForMarkedInThisWindow(getByID('enabled-plugins-form'), '<__trans phrase="plugin" escape="js">', '<__trans phrase="plugins" escape="js">', 'id', 'switch_plugins', {}, '<__trans phrase="to publish" escape="js">'); return false;"
     accesskey="a" class="secondary button"
     title="<__trans phrase="Disable selected plugins (a)">"
  ><__trans phrase="Disable"></a>
</mt:setvarblock>
<mt:setvarblock name="listing_header"><h3><__trans phrase="Enabled Plugins"></h3></mt:setvarblock>
<mt:var name="plugin_table" loop="plugin_loop" id="enabled-plugins">

<mt:setvarblock name="action_buttons">
  <a href="javascript:void(0)"
     onclick="doForMarkedInThisWindow(getByID('disabled-plugins-form'), '<__trans phrase="plugin" escape="js">', '<__trans phrase="plugins" escape="js">', 'id', 'switch_plugins', {}, '<__trans phrase="to publish" escape="js">'); return false;"
     accesskey="a" class="secondary button"
     title="<__trans phrase="Enable selected plugins (a)">"
  ><__trans phrase="Enable"></a>
</mt:setvarblock>
<mt:setvarblock name="listing_header"><h3><__trans phrase="Disabled Plugins"></h3></mt:setvarblock>

<mt:var name="plugin_table" loop="disabled_loop" id="disabled-plugins">

<mt:include name="include/footer.tmpl">
