<TMPL_INCLUDE name="header.tmpl">

<h2><MT_TRANS phrase="Restoring..."></h2>

<div class="import-process">

<div id="progress-bar"><img src="<TMPL_VAR NAME=STATIC_URI>images/indeterminate-progress-bar.gif" alt="" height="24" width="124" /></div>

<pre><MT_TRANS phrase="Restoring Movable Type">

