</pre>
</div>

<script type="text/javascript">
<!--
var progress = getByID("progress-bar");
if (progress) {
    progress.style.display = "none";
}
// -->
</script>

<TMPL_IF NAME=RESTORE_SUCCESS>
<p><strong><MT_TRANS phrase="All data restored successfully!"></strong></p>
<TMPL_UNLESS NAME=RESTORE_UPLOAD>
<p><MT_TRANS phrase="Make sure that you remove the files that you imported from the 'import' folder, so that if/when you run the import process again, those files will not be re-imported."></p>
</TMPL_UNLESS>
<TMPL_ELSE>
<p><strong><MT_TRANS phrase="An error occurred during the restore process: [_1] Please check your restore file." params="<TMPL_VAR NAME=ERROR>"></strong></p>
</TMPL_IF>

<TMPL_INCLUDE NAME=footer.tmpl>
