<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>js/tc.js?v=<TMPL_VAR NAME=MT_VERSION ESCAPE=URL>"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>js/tc/tableselect.js?v=<TMPL_VAR NAME=MT_VERSION ESCAPE=URL>"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>js/core.js?v=<TMPL_VAR NAME=MT_VERSION ESCAPE=URL>"></script>
<script type="text/javascript" src="<TMPL_VAR NAME=STATIC_URI>mt.js?v=<TMPL_VAR NAME=MT_VERSION ESCAPE=URL>"></script>
<script type="text/javascript">
<!--
openDialog(false, 'dialog_restore_upload', 'files=<TMPL_VAR NAME=FILES>&amp;assets=<TMPL_VAR NAME=ASSETS>');
//-->
</script>
