<mt:setvarblock name="page_title"><__trans phrase="System Diagnostics"></mt:setvarblock>
<mt:setvar name="sanity" value="1">
<MTSetVarBlock name="content_nav">
    <mt:include name="include/sysinfo_content_nav.tmpl">
</MTSetVarBlock>
<mt:include name="include/header.tmpl">

<form id="send-test-email" action="<mt:var name="script_url">" method="post" onsubmit="return validate(this);">
<input type="hidden" name="__mode" value="cfg_system_settings" />
<input type="hidden" name="magic_token" value="<mt:var name="magic_token">" />
<input type="hidden" name="return_args" value="<mt:var name="return_args" escape="html">" />
<fieldset>
    <mtapp:setting
        id="to_email_address"
        label="<__trans phrase="Send Email To">"
        hint="<__trans phrase="The email address where you want to send test email to.">"
        show_hint="1">
        <div class="textarea-wrapper">
            <input type="text" id="to_email_address" name="to_email_address" class="full-width" />
        </div>
    </mt:app:setting>
<mt:setvarblock name="action_buttons">
    <button
        type="submit"
        class="primary-button"
        ><__trans phrase="Send Test Email"></button>
</mt:setvarblock>
<mt:include name="include/actions_bar.tmpl" bar_position="bottom" hide_pager="1" settings_bar="1">
</fieldset>
</form>

<mtapp:setting
    id="system_check"
    label="System Info (MTCheck)"
    label_class="top-label"
    show_label="0"
    hint="">
    <div class="info">
        <mt:if name="syscheck_html">
            <$mt:var name="syscheck_html"$>
        <mt:else>
            <p><__trans phrase="Melody could not find the script named 'check.cgi'. To resolve this issue, please ensure that the check.cgi script exists and/or the CheckScript configuration parameter references it properly."></p>
        </mt:if>
    </div>
</mtapp:setting>

<mt:include name="include/footer.tmpl">
