<TMPL_INCLUDE NAME="header-dialog.tmpl">

<script type="text/javascript">
<!--
function setExtraPath(sel) {
   var opt = sel.options[sel.selectedIndex];
   var path = opt.getAttribute("middle_path");
   if (!path) path = '';
   var middle = sel.form['middle_path'];
   if (middle) middle.value = path;
}
//-->
</script>

<form method="post" enctype="multipart/form-data" action="<TMPL_VAR NAME=SCRIPT_URL>">
<input type="hidden" name="__mode" value="upload_file" />
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
<input type="hidden" name="middle_path" value="" />

<h2><span class="weblog-title-highlight"><TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>:</span> <MT_TRANS phrase="Upload New File"></h2>

<div class="items-wrapper">
    <span class="modal_added"><MT_TRANS phrase="Choose a file from your computer to upload"></span>
</div>

<p class="page-desc"><img border="0" src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="17" height="5"></p>

<div class="selector list">
    <div class="upload-data-wrapper">
    <b><MT_TRANS phrase="File to Upload"></b>
    <div class="upload_indent_choices">
    <p><MT_TRANS phrase="Click the button below and select a file on your computer to upload."></p>
    <p><input type="file" name="file" /></p>
    </div>

    <p><b><MT_TRANS phrase="Set Upload Path"></b> (<span class="hint"><MT_TRANS phrase="Optional">)</span></p>

    <div class="upload_indent_choices">
    <p><MT_TRANS phrase="_USAGE_UPLOAD" params="<TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>"></p>
    <p><MT_TRANS phrase="Path:">
    <select name="site_path" onchange="setExtraPath(this)">
    <option value="1">&#60;<MT_TRANS phrase="Site Root">&#62;</option>
    <TMPL_IF NAME=ENABLE_ARCHIVE_PATHS>
    <option value="0">&#60;<MT_TRANS phrase="Archive Root">&#62;</option>
    </TMPL_IF>
    <TMPL_IF NAME=EXTRA_PATHS>
    <TMPL_LOOP NAME=EXTRA_PATHS>
    <option value="<TMPL_IF NAME=ENABLE_ARCHIVE_PATHS>0<TMPL_ELSE>1</TMPL_IF>" middle_path="<TMPL_VAR NAME=PATH ESCAPE=HTML>"><TMPL_VAR NAME=LABEL ESCAPE=HTML></option>
    </TMPL_LOOP>
    </TMPL_IF>
    </select>
    / <input name="extra_path" id="extra_path" />
    </p>
    </div>
</div>

<div class="upload_button_spacing">&nbsp;</div>

<div class="panel-commands">
    <input onclick="closeDialog()" type="button" value="<MT_TRANS phrase="Cancel">" />
    <input type="submit" value="<MT_TRANS phrase="Upload">" />
</div>

<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />
</form>

<TMPL_INCLUDE NAME="footer-dialog.tmpl">
