<TMPL_INCLUDE NAME="header-dialog.tmpl">

<script type="text/javascript">
<!--

function presubmit(f) {
    var mode = 'list_assets';
<TMPL_IF NAME=ENTRY_INSERT>
    mode = 'asset_insert';
<TMPL_ELSE>
<TMPL_IF NAME=CAN_POST>
    if (f.new_entry && f.new_entry.checked) mode = 'start_upload_entry';
</TMPL_IF>
</TMPL_IF>
    if (mode != 'asset_insert') {
        f.target = "_top";
    }
    f['__mode'].value = mode;
    return true;
}

//-->
</script>

<form action="<TMPL_VAR NAME=SCRIPT_URL>" method="post" onsubmit="return presubmit(this)">
<input type="hidden" name="__mode" value="" />
<input type="hidden" name="id" value="<TMPL_VAR NAME=ASSET_ID>" />
<input type="hidden" name="blog_id" value="<TMPL_VAR NAME=BLOG_ID>" />
<input type="hidden" name="site_path" value="<TMPL_VAR NAME=SITE_PATH ESCAPE=HTML>" />
<input type="hidden" name="edit_field" value="<TMPL_VAR NAME=EDIT_FIELD>" />
<input type="hidden" name="fname" value="<TMPL_VAR NAME=FNAME ESCAPE=HTML>" />
<input type="hidden" name="url" value="<TMPL_VAR NAME=URL ESCAPE=HTML>" />
<input type="hidden" name="magic_token" value="<TMPL_VAR NAME=MAGIC_TOKEN>" />
<TMPL_UNLESS NAME=IS_IMAGE>
<input type="hidden" name="link" value="1" />
</TMPL_UNLESS>

<h2><span class="weblog-title-highlight"><TMPL_VAR NAME=BLOG_NAME ESCAPE=HTML>:</span> <TMPL_IF NAME=ENTRY_INSERT><TMPL_IF NAME=IS_IMAGE><MT_TRANS phrase="Insert Image"><TMPL_ELSE><MT_TRANS phrase="Insert File"></TMPL_IF><TMPL_ELSE><TMPL_IF NAME=IS_IMAGE><MT_TRANS phrase="Upload Image"><TMPL_ELSE><MT_TRANS phrase="Upload File"></TMPL_IF></TMPL_IF></h2>

<div class="items-wrapper">
<span class="modal_added">
<TMPL_UNLESS NAME=DIRECT_ASSET_INSERT>
<MT_TRANS phrase="The file named '[_1]' has been uploaded. Size: [quant,_2,byte]." params="<TMPL_VAR NAME=FNAME ESCAPE=HTML>%%<TMPL_VAR NAME=BYTES>">
</TMPL_UNLESS>
&nbsp;</span>
</div>

<p class="page-desc"><img border="0" src="<TMPL_VAR NAME=STATIC_URI>images/spacer.gif" width="17" height="5"></p>

<div class="selector list">
    <div class="upload-data-wrapper">
    <TMPL_UNLESS NAME=ENTRY_INSERT>
    <strong><MT_TRANS phrase="Asset Options"></strong>
    </TMPL_UNLESS>
    <div class="upload_indent_choices">
        <TMPL_UNLESS NAME=ENTRY_INSERT>
        <TMPL_IF NAME=CAN_POST>
        <p><label><input type="checkbox" name="new_entry" value="1" checked="checked" onclick="toggleSubPrefs(this); return true;" /> <MT_TRANS phrase="Create a new entry using this uploaded file."></label> <a href="#" onclick="return openManual('file_upload', 'creating_a_new_entry')" class="help">?</a><br /></p>
        </TMPL_IF>
        </TMPL_UNLESS>
    </div>

<TMPL_VAR NAME=OPTIONS_SNIPPET>

</div>

<div class="upload_button_spacing">&nbsp;</div>

<div class="panel-commands">
    <input onclick="closeDialog()" type="button" value="<MT_TRANS phrase="Cancel">" />
    <input type="submit" value="<MT_TRANS phrase="Finish">" />
</div>

</form>

<TMPL_INCLUDE NAME="footer-dialog.tmpl">
