/* .pkg - wraps enclosing block element around inner floated elements */
.pkg:after { content: " ";display: block;visibility: hidden;clear: both;height: 0.1px;font-size: 0.1em;line-height: 0;}
.pkg { display: inline-block; }
/* no ie mac \*/
* html .pkg { height: 1%; }
.pkg[class] { height: auto; }
.pkg { display: block; }
/* */
.hidden { display: none !important; }
.visible { display: block; }
.invisible { visibility: hidden; }
.clickable { cursor: pointer; }
.overflow-auto { overflow: auto; }
.overflow-hidden { overflow: hidden; }
.inline { display: inline; }
.nowrap { white-space: nowrap; }
.fl { float: left; }
.fr { float: right; }

