<script type="text/javascript">
jQuery(document).ready( function($) {
  var active = $('#content-nav ul li.active a').attr('title');
  $('#'+active).show();
  $('fieldset input, fieldset select, fieldset textarea').change( function () {
    var sel = '#content-nav ul li a[title="'+active+'"]';
    var e = $(sel).parent();
    if (!e.hasClass('changed')) { 
        e.find('b').html( e.find('b').html() + " *" );
    }
    e.addClass('changed');
  });
  $('#content-nav ul li a').click( function() {
    var current = $(this).parent().parent().find('.active');
    var newactive = $(this).attr('title');
    current.removeClass('active');
    $('#' + active).hide();
    $(this).parent().addClass('active');
    $('#' + newactive).show();
    active = newactive;
  });  
});
</script>
<mt:if name="BLOG_ID">
    <mt:setvarblock id="more_items" name="more_items"></mt:setvarblock>
<ul>
    <li class="active"><a href="javascript:void(0)" title="general"><b><__trans phrase="General"></b></a></li>
    <li><a href="javascript:void(0)" title="publishing"><b><__trans phrase="Publishing"></b></a></li>
    <li><a href="javascript:void(0)" title="entry"><b><__trans phrase="Compose"></b></a></li>
    <li><a href="javascript:void(0)" title="comments"><b><__trans phrase="Comments"></b></a></li>
    <li><a href="javascript:void(0)" title="trackbacks"><b><__trans phrase="TrackBacks"></b></a></li>
    <li><a href="javascript:void(0)" title="registration"><b><__trans phrase="Login & Sign-up"></b></a></li>
    <li><a href="javascript:void(0)" title="spam"><b><__trans phrase="Spam"></b></a></li>
    <li><a href="javascript:void(0)" title="web-services"><b><__trans phrase="Web Services"></b></a></li>
    <mt:var name="more_items">
</ul>
</mt:if>
