<mt:if name="IS_ADMINISTRATOR">
    <mt:setvarblock id="more_items" name="more_items"></mt:setvarblock>
<ul>
    <li class="active"><a href="javascript:void(0)" title="general"><b><__trans phrase="General"></b></a></li>
    <li><a href="javascript:void(0)" title="users"><b><__trans phrase="User"></b></a></li>
    <li><a href="javascript:void(0)" title="feedback"><b><__trans phrase="Feedback"></b></a></li>
    <mt:var name="more_items">
</ul>
</mt:if>
