<mtapp:setting
    id="username"
    label="<__trans phrase="Username">"
    label_class="top-label">
    <input name="username" id="username" class="ti" tabindex="1" />
</mtapp:setting>

<mtapp:setting
    id="password"
    label="<__trans phrase="Password">">
    <input type="password" name="password" id="password" class="ti" tabindex="2" />
</mtapp:setting>

<p><label><MT_TRANS phrase="Remember me?"> <input type="checkbox" name="remember" value="1" accesskey="r" tabindex="3" /></label></p>
