<ul>
<mt:loop name="plugin_loop"><mt:if name="plugin_has_config">
    <li class="plugin-<$mt:var name="plugin_id" dirify="1"$>-tab<mt:if name="plugin" eq="$plugin_id"> active</mt:if>"><a href="javascript:void(0)" id="plugin-<$mt:var name="plugin_id" dirify="1"$>-tab" title="<__trans phrase="[_1] Preferences" params="<$mt:var name="plugin_name" encode_html="1"$>">"><b><$mt:var name="plugin_name"$></b></a></li>
</mt:if></mt:loop>
</ul>
