<ul>
    <mt:if name="is_administrator">
    <mt:unless name="blog_id">
    <li<mt:if name="system-information"> class="active"</mt:if>><a href="<$mt:var name="mt_url"$>?__mode=system_check&amp;blog_id=<$mt:var name="blog_id"$>"><b><__trans phrase="System Information"></b></a></li>
    </mt:unless>
    </mt:if>
    <li<mt:if name="plugins"> class="active"</mt:if>><a href="<$mt:var name="mt_url"$>?__mode=list_plugin"><b><__trans phrase="Installed Plugins"></b></a></li>
    <li<mt:if name="resources"> class="active"</mt:if>><a href="<$mt:var name="mt_url"$>?__mode=resources"><b><__trans phrase="Resources"></b></a></li>
    <li<mt:if name="sanity"> class="active"</mt:if>><a href="<$mt:var name="mt_url"$>?__mode=sanity_check"><b><__trans phrase="System Diagnostics"></b></a></li>
</ul>
