<__trans_section component="mixicomment">
<p>
<mt:If name="mixi_id">
<__trans phrase='A mixi ID has already been registered in this blog.  If you want to change the mixi ID for the blog, <a href="[_1]">click here</a> to sign in using your mixi account.  If you want all of the mixi users to comment to your blog (not only your my mixi users), click the reset button to remove the setting.' params='<mt:var name="script_url">?__mode=mixicomment_login_blog_owner&blog_id=<mt:var name="blog_id">&openid_url=http://mixi.jp/'>
<mt:Else>
<__trans phrase='If you want to restrict comments only from your my mixi users, <a href="[_1]">click here</a> to sign in using your mixi account.' params='<mt:var name="script_url">?__mode=mixicomment_login_blog_owner&blog_id=<mt:var name="blog_id">&openid_url=http://mixi.jp/'>
</mt:If>
</p>
</__trans_section>
