/* Brand */
.main-screen #brand {
    position: absolute;
    top: 0px;
    left: 20px;
}
.system #brand a,
.blog #brand a {
    display: block;
    width: 150px;
    height: 41px;
    background: url('melody-logo.jpg') no-repeat;
}

/* Redesigned Plugins Screen */
#enabled-plugins-table td.name {
    width: 150px;
}

/* New Plugins Settings Screen */
.plugin_form { 
    display: none; 
}
#list-plugins .plugin_form h3.plugin-name {
    margin-bottom: 10px;
} 
#list-plugins #main-content-inner {
    border-bottom: 0;
}

/* Redesign Blog Settings */
.blog-preferences {
    display: none;
}
#content-nav ul li.changed b { 
    font-style: italic;
}