/* Brand */
.main-screen #brand {
    position: absolute;
    top: 0px;
    left: 20px;
}
.system #brand a,
.blog #brand a {
    display: block;
    width: 150px;
    height: 41px;
    background: url('melody-logo.jpg') no-repeat;
}
#enabled-plugins-table td.name {
    width: 150px;
}