<fieldset>
    
    <h3><__trans phrase="The Basics"></h3>

    <$mt:var name="name" value="$blog_name"$>
    <mtapp:setting
        id="name"
        label="<__trans phrase="Name">"
        hint="<__trans phrase="Name your blog. The blog name can be changed at any time.">"
        help_page="blog_settings_general"
        help_section="blog_name">
        <div class="textarea-wrapper">
            <input type="text" name="name" id="name" class="full-width" value="<mt:var name="name" escape="html">" size="30" />
        </div>
    </mtapp:setting>

    <mtapp:setting
        id="description"
        label="<__trans phrase="Description">"
        hint="<__trans phrase="Enter a description for your blog.">"
        help_page="blog_settings_general"
        help_section="blog_description">
        <textarea name="description" id="description" class="full-width short" cols="" rows=""><mt:var name="description" escape="html"></textarea>
    </mtapp:setting>

    <mtapp:setting
        id="server_offset"
        label="<__trans phrase="Timezone">"
        hint="<__trans phrase="Select your timezone from the pulldown menu.">"
        help_page="blog_settings_general"
        help_section="blog_timezone">
        <select name="server_offset" id="server_offset" class="half-width">
        <option value=""><__trans phrase="Time zone not selected"></option>
        <option value="13"<mt:if name="SERVER_OFFSET_13"> selected="selected"</mt:if>><__trans phrase="UTC+13 (New Zealand Daylight Savings Time)"></option>
        <option value="12"<mt:if name="SERVER_OFFSET_12"> selected="selected"</mt:if>><__trans phrase="UTC+12 (International Date Line East)"></option>
        <option value="11"<mt:if name="SERVER_OFFSET_11"> selected="selected"</mt:if>><__trans phrase="UTC+11"></option>
        <option value="10"<mt:if name="SERVER_OFFSET_10"> selected="selected"</mt:if>><__trans phrase="UTC+10 (East Australian Time)"></option>
        <option value="9.5"<mt:if name="SERVER_OFFSET_9_5"> selected="selected"</mt:if>><__trans phrase="UTC+9.5 (Central Australian Time)"></option>
        <option value="9"<mt:if name="SERVER_OFFSET_9"> selected="selected"</mt:if>><__trans phrase="UTC+9 (Japan Time)"></option>
        <option value="8"<mt:if name="SERVER_OFFSET_8"> selected="selected"</mt:if>><__trans phrase="UTC+8 (China Coast Time)"></option>
        <option value="7"<mt:if name="SERVER_OFFSET_7"> selected="selected"</mt:if>><__trans phrase="UTC+7 (West Australian Time)"></option>
        <option value="6.5"<mt:if name="SERVER_OFFSET_6_5"> selected="selected"</mt:if>><__trans phrase="UTC+6.5 (North Sumatra)"></option>
        <option value="6"<mt:if name="SERVER_OFFSET_6"> selected="selected"</mt:if>><__trans phrase="UTC+6 (Russian Federation Zone 5)"></option>
        <option value="5.5"<mt:if name="SERVER_OFFSET_5_5"> selected="selected"</mt:if>><__trans phrase="UTC+5.5 (Indian)"></option>
        <option value="5"<mt:if name="SERVER_OFFSET_5"> selected="selected"</mt:if>><__trans phrase="UTC+5 (Russian Federation Zone 4)"></option>
        <option value="4"<mt:if name="SERVER_OFFSET_4"> selected="selected"</mt:if>><__trans phrase="UTC+4 (Russian Federation Zone 3)"></option>
        <option value="3.5"<mt:if name="SERVER_OFFSET_3_5"> selected="selected"</mt:if>><__trans phrase="UTC+3.5 (Iran)"></option>
        <option value="3"<mt:if name="SERVER_OFFSET_3"> selected="selected"</mt:if>><__trans phrase="UTC+3 (Baghdad Time/Moscow Time)"></option>
        <option value="2"<mt:if name="SERVER_OFFSET_2"> selected="selected"</mt:if>><__trans phrase="UTC+2 (Eastern Europe Time)"></option>
        <option value="1"<mt:if name="SERVER_OFFSET_1"> selected="selected"</mt:if>><__trans phrase="UTC+1 (Central European Time)"></option>
        <option value="0"<mt:if name="SERVER_OFFSET_0"> selected="selected"</mt:if>><__trans phrase="UTC+0 (Universal Time Coordinated)"></option>
        <option value="-1"<mt:if name="SERVER_OFFSET__1"> selected="selected"</mt:if>><__trans phrase="UTC-1 (West Africa Time)"></option>
        <option value="-2"<mt:if name="SERVER_OFFSET__2"> selected="selected"</mt:if>><__trans phrase="UTC-2 (Azores Time)"></option>
        <option value="-3"<mt:if name="SERVER_OFFSET__3"> selected="selected"</mt:if>><__trans phrase="UTC-3 (Atlantic Time)"></option>
        <option value="-3.5"<mt:if name="SERVER_OFFSET__3_5"> selected="selected"</mt:if>><__trans phrase="UTC-3.5 (Newfoundland)"></option>
        <option value="-4"<mt:if name="SERVER_OFFSET__4"> selected="selected"</mt:if>><__trans phrase="UTC-4 (Atlantic Time)"></option>
        <option value="-5"<mt:if name="SERVER_OFFSET__5"> selected="selected"</mt:if>><__trans phrase="UTC-5 (Eastern Time)"></option>
        <option value="-6"<mt:if name="SERVER_OFFSET__6"> selected="selected"</mt:if>><__trans phrase="UTC-6 (Central Time)"></option>
        <option value="-7"<mt:if name="SERVER_OFFSET__7"> selected="selected"</mt:if>><__trans phrase="UTC-7 (Mountain Time)"></option>
        <option value="-8"<mt:if name="SERVER_OFFSET__8"> selected="selected"</mt:if>><__trans phrase="UTC-8 (Pacific Time)"></option>
        <option value="-9"<mt:if name="SERVER_OFFSET__9"> selected="selected"</mt:if>><__trans phrase="UTC-9 (Alaskan Time)"></option>
        <option value="-10"<mt:if name="SERVER_OFFSET__10"> selected="selected"</mt:if>><__trans phrase="UTC-10 (Aleutians-Hawaii Time)"></option>
        <option value="-11"<mt:if name="SERVER_OFFSET__11"> selected="selected"</mt:if>><__trans phrase="UTC-11 (Nome Time)"></option>
        </select>
    </mtapp:setting>

    <mtapp:setting
        id="has-license"
        label="<__trans phrase="License">"
        content_class="field-content-text"
        help_page="blog_settings_general"
        help_section="creative_commons_license">

<div id="has-license" style="display: none;">
<mt:if name="cc_license"><a href="<mt:var name="cc_license_url">"><img src="<mt:var name="cc_license_image_url">" /></a><br /></mt:if>
<__trans phrase="Your blog is currently licensed under:"> <strong id="cc-license-name"><mt:var name="cc_license_name"></strong><br />
<a href="javascript:void(0);" onclick="return setLicense();"><__trans phrase="Change license"></a> | <a href="javascript:void(0);" onclick="return doRemoveLicense();"><__trans phrase="Remove license"></a>
</div>
<div id="no-license" style="display: none;">
<__trans phrase="Your blog does not have an explicit Creative Commons license."><br />
<a href="javascript:void(0);" onclick="return setLicense();"><__trans phrase="Select a license"></a>
</div>
<script type="text/javascript">
    /* <![CDATA[ */
    var e = getByID(<mt:if name="cc_license">'has-license'<mt:else>'no-license'</mt:if>);
    if (e) e.style.display = 'block';
    /* ]]> */
</script>
<input type="hidden" name="cc_license" value="<mt:var name="cc_license" escape="html">" />
    </mtapp:setting>

</fieldset>

<fieldset>
<h3><__trans phrase="Revision History"></h3>
    <mt:unless name="master_revision_switch">
        <mtapp:statusmsg
            id="master_revision_off"
            class="error">
            <__trans phrase="Note: Revision History is currently disabled at the system level.">
        </mtapp:statusmsg>
    </mt:unless>
    <mtapp:setting
        id="use-revision"
        class="has-option"
        label="<__trans phrase="Revision history">"
        hint="<__trans phrase='Enable this setting to have Melody track revisions made by users to entries, pages and templates. Learn more about <a href="http://openmelody.org/docs/sysadmin-revisionsystem">revision histories</a>.'>"
        show_hint="1"
        content_class="field-content-text">
        <label for="use-revision"><input type="checkbox" value="1" name="use_revision" id="use-revision"<mt:if name="use_revision"> checked="checked"</mt:if><mt:unless name="master_revision_switch"> disabled="disabled"</mt:unless> /> <__trans phrase="Enable revision history"></label>
    </mtapp:setting>

    <div id="use-revision-option" class="setting-option">
        <mt:setvarblock name="revisions_entry_label">
        <mt:if name="is_blog"><__trans phrase="Number of revisions per entry/page"><mt:else><__trans phrase="Number of revisions per page"></mt:if>
        </mt:setvarblock>
        <mtapp:setting
            id="max_revisions_entry"
            label="<mt:var name="revisions_entry_label">">
           <input type="text" name="max_revisions_entry" id="max_revisions_entry" size="2" value="<mt:var name="max_revisions_entry" escape="html">" />
        </mtapp:setting>
        <mtapp:setting
            id="max_revisions_template"
            label="<__trans phrase="Number of revisions per template">">
            <input type="text" name="max_revisions_template" id="max_revisions_template" size="2" value="<mt:var name="max_revisions_template" escape="html">" />
        </mtapp:setting>
    </div>
</fieldset>
