<fieldset>

    <h3><__trans phrase="General"></h3>

    <mtapp:setting
        id="system_email_address"
        label="<__trans phrase="System Email">"
        hint="<__trans phrase="The email address used in the From: header of each email sent from the system.  The address is used in password recovery, commenter registration, comment, trackback notification and a few other minor events.">"
        show_hint="1">
        <div class="textarea-wrapper">
            <input type="text" id="system_email_address" name="system_email_address"<mt:if name="system_email_address"> value="<mt:var name="system_email_address" escape="html">"</mt:if> class="full-width" />
        </div>
    </mt:app:setting>
    <mtapp:setting
        id="system_debug_mode"
        label="<__trans phrase="Debug Mode">"
        hint="<__trans phrase='You can find an explanation of the various debug modes in the <a href="http://openmelody.org/docs/ref-debug">documentation</a>'>"
        show_hint="1">
        <input type="text" size="3" maxlength="3" id="system_debug_mode" name="system_debug_mode" value="<mt:var name="system_debug_mode" escape="html">" />
    </mt:app:setting>
    <mtapp:setting
        id="system_performance_logging"
        label="<__trans phrase="Performance Logging">"
        hint="<__trans phrase="Turns on or off performance logging.">"
        show_hint="1">
        <input type="checkbox" id="system_performance_logging" name="system_performance_logging" <mt:if name="system_performance_logging" eq="1">checked="checked"</mt:if> />
    </mt:app:setting>
    <mtapp:setting
        id="system_performance_logging_path"
        label="<__trans phrase="Log Paths">"
        hint="<__trans phrase="Paths where logs are placed.">"
        show_hint="1">
        <div class="textarea-wrapper">
            <input type="text" id="system_performance_logging_path" name="system_performance_logging_path"<mt:if name="system_performance_logging_path"> value="<mt:var name="system_performance_logging_path" escape="html">"</mt:if> class="full-width" />
        </div>
    </mt:app:setting>
    <mtapp:setting
        id="system_performance_logging_threshold"
        label="<__trans phrase="Logging Threshold">"
        hint="<__trans phrase="Logging threshold for the App">"
        show_hint="1">
        <input type="text" size="3" maxlength="3" id="system_performance_logging_threshold" name="system_performance_logging_threshold" value="<mt:var name="system_performance_logging_threshold" escape="html">" />
    </mt:app:setting>
    <mtapp:setting
        id="track_revisions"
        label="<__trans phrase="Revision History">"
        content_class="field-content-text"
        hint="<__trans phrase='Enable this setting to have Melody track revisions made by users to entries, pages and templates. Learn more about <a href="http://openmelody.org/docs/sysadmin-revisionsystem">revision histories</a>.'>"
        show_hint="1">
        <input type="checkbox" id="track_revisions" name="track_revisions"<mt:if name="track_revisions"> checked="checked"</mt:if> class="cb" /> <label for="track_revisions"><__trans phrase="Track revision history"></label>
    </mtapp:setting>
</fieldset>

