<fieldset>

<h3><__trans phrase="Six Apart Services"></h3>

    <mtapp:setting
        id="typekey_settings"
        label="<__trans phrase="TypePad">"
        content_class="field-content-text"
        hint="<__trans phrase="Your TypePad token is used to access Six Apart services like its free Authentication service.">"
        help_page=""
        help_setion=""
        show_hint="1">
        <div id="options_TypeKey">
        <mt:if name="remote_auth_token">
        <div id="token_curr_status">
            <p>
                <span class="alert-success-inline icon-left icon-success"><__trans phrase="TypePad is enabled."></span>
            </p>
            <p><label for="remote_auth_token"><__trans phrase="TypePad token:"></label> <input type="text" id="remote_auth_token" name="remote_auth_token" value="<mt:var name="REMOTE_AUTH_TOKEN" escape="HTML">" /> <a href="javascript:void(0)" onclick="getByID('remote_auth_token').value='';getByID('save_token_msg').style.display='block';getByID('token_curr_status').style.display='none';return false"><__trans phrase="Clear TypePad Token"></a></p>
        </div>
        <p id="save_token_msg" style="display:none">
            <span class="alert-warning-inline icon-left icon-warning"><__trans phrase="Please click the Save Changes button below to disable authentication."></span>
        </p>
        <mt:else>
        <p><span class="icon-left icon-neutral"><__trans phrase="TypePad is not enabled."></span></p>
        <p>
            <label for="remote_auth_token"><__trans phrase="TypePad token:"></label> <input type="text" name="remote_auth_token" id="remote_auth_token" value="<mt:var name="REMOTE_AUTH_TOKEN" escape="HTML">" />
            &nbsp;<__trans phrase="or">&nbsp;<a href="javascript:void(0)" onclick="window.open('<mt:var name="IDENTITY_SYSTEM">/handshake?<mt:if name="LANG">lang=<mt:var name="LANG">&amp;</mt:if>url=<mt:var name="HANDSHAKE_RETURN" escape="URL">&amp;blog_id=<mt:var name="BLOG_ID">');return false"><__trans phrase="Obtain TypePad token"></a>
        </p>
        <p id="save_token_msg" style="display:none">
            <span class="alert-warning-inline icon-left icon-warning"><__trans phrase="Please click the Save Changes button below to enable TypePad."></span>
        </p>
        </mt:if>
        </div>
    </mtapp:setting>

</fieldset>
<fieldset>

<h3><__trans phrase="External Notifications"></h3>

    <mtapp:setting
        id="ping_blogs"
        label="<__trans phrase="Notify of blog updates">"
        content_class="field-content-text"
        hint="<__trans phrase="When this blog is updated, Melody will automatically notify the selected sites.">"
        help_page="blog_settings_entry_defaults"
        help_section="update_pings">
            <mt:if name="system_disabled_notify_pings">
            <p><img src="<mt:var name="static_uri">images/status_icons/warning.gif" alt="<__trans phrase="Setting Ignored">" width="9" height="9" />
            <span class="alert-warning-inline"><__trans phrase="Note: This option is currently ignored since outbound notification pings are disabled system-wide."></span></p>
            </mt:if>
            <ul>
            <mt:if name="pings_loop">
            <mt:loop name="pings_loop">
                <li><input type="checkbox" name="ping_<mt:var name="key" escape="html">" id="ping_<mt:var name="key" escape="html">" value="1"<mt:if name="selected"> checked="checked"</mt:if> class="cb" /> <label for="ping_<mt:var name="key" escape="html">"><mt:var name="label" escape="html"></label></li>
            </mt:loop>
            </mt:if>
                <li><label for="ping_others"><__trans phrase="Others:"> <span class="hint"><__trans phrase="(Separate URLs with a carriage return.)"></span></label>
                    <div class="textarea-wrapper">
                        <textarea name="ping_others" id="ping_others" rows="" cols="" class="full-width short"><mt:var name="ping_others" escape="html"></textarea>
                    </div>
                </li>
            </ul>
    </mtapp:setting>

</fieldset>
