<mt:setvarblock name="page_title"><__trans phrase="Export Theme"></mt:setvarblock>
<mt:setvarblock name="screen_id">theme-export</mt:setvarblock>
<mt:setvarblock name="html_head" append="1">
  <link rel="stylesheet" href="<$mt:PluginStaticWebPath component="themeexport"$>app.css" type="text/css" />
  <script type="text/javascript" src="<mt:var name="static_uri">jquery/jquery.js"></script>
  <script type="text/javascript" src="<$mt:PluginStaticWebPath component="themeexport"$>app.js"></script>
  <script type="text/javascript" src="<mt:var name="static_uri">js/dialog.js"></script>
  <script type="text/javascript" src="<$mt:PluginStaticWebPath component="themeexport"$>jquery.scrollTo-1.4.2-min.js"></script>

  <script type="text/javascript">
  $(document).ready( function() {
    $('#continue').click( function() {
        $('.page').hide();
        $('#steps').hide();
        $('#export-pane').show();
        var xhr = $.ajax({
            url: '<$mt:var name="script_url"$>',
            type: 'post',
            dataType: 'text',
            data: {
                '__mode'            : 'theme_export',
                'blog_id'           : <mt:var name="blog_id">,
                'theme_name'        : $('#name-field input').val(),
                'theme_description' : $('#description-field textarea').val(),
                'theme_version'     : $('#version-field input').val(),
                'system_cf'         : $('#system_cf-field input').is(':checked') ? 1 : 0,
                'system_fd'         : $('#system_fd-field input').is(':checked') ? 1 : 0,
                'designer_name'     : $('#designer-field input').val(),
                'designer_link'     : $('#designer-url-field input').val()
            },
            success: function(text, textStatus, XMLHttpRequest) {
                var matches = text.split(/JSON:/);
                if (matches && matches.length) {

                    // Successfully exported!
                    var json = matches[1];
                    if (json) {

                        var data = eval( '(' + json + ')' );
                        if (data.error) {
                            $('#export-pane .progress').html(
                                '<p>' + data.error + '</p>'
                            );
                        }
                        else {
                            // Add the download button
                            $('#export-pane .progress').html(
                                '<p><a href="' + data.download_url
                                + '" title="Download Theme">Download ' 
                                + data.zipfilename + '</a></p>'
                            );
                        }

                        // After the log is finished, show the result.
                        $('#export-pane .progress').show();

                        // Remove the export button, and change "Cancel" 
                        // to "Close."
                        $('button#continue').hide();
                        $('button#close').text('Close');
                    }
                }

            }
        });

        xhr.onreadystatechange = function() {
            if ( xhr.readyState == 3 ) {
                interactive_export( xhr );
            }
        };

    });
  });
  </script>
</mt:setvarblock>

<mt:include name="dialog/header.tmpl">

<div id="export_theme_content">

    <div id="msg-container">
        <mtapp:statusmsg
            id="message"
            class="info">
                This tool will take you through the process of exporting a theme. Your theme metadata (entered in the General Information and Designer Details tabs), your blog's templates, and a <code>config.yaml</code> file will be exported and zipped for you to download. Your existing site will be unaffected by this export. Learn more about themes in the <a href="https://github.com/openmelody/melody/wiki/designguide-theme" target="_blank">Theme Designer Guide</a>.
        </mtapp:statusmsg>
    </div>

  <form id="export-form" method="post" 
        action="<$mt:var name="script_url"$>">

    <input type="hidden" name="blog_id" value="<$mt:var name="blog_id"$>" />

    <ol id="steps" class="pkg">
      <li class="page-1 general active" pageid="1"><label>General Information</label></li>
      <li class="page-2" pageid="2"><label>Designer Details</label></li>
    </ol>

    <fieldset id="page-1" class="page first details">

        <mtapp:setting
            id="name"
            label_class="top-label"
            label="<__trans phrase="Theme Name">"
            hint="The name of your theme."
            show_hint="0">
            <input class="full-width" name="theme_name" type="text" value="<$mt:var name="theme_name"$>" />
        </mtapp:setting>

        <mtapp:setting
            id="description"
            label_class="top-label"
            label="<__trans phrase="Description">">
            <textarea class="full-width" rows="3" name="description"><$mt:var name="theme_description"$></textarea>
        </mtapp:setting>

        <mtapp:setting
            id="version"
            label_class="top-label"
            label="<__trans phrase="Version">"
            show_hint="0">
            <input class="full-width" name="theme_version" type="text" value="<$mt:var name="theme_version"$>" />
        </mtapp:setting>

    <mt:If name="system_cf">
        <mtapp:setting
            id="system_cf"
            label_class="top-label"
            label="<__trans phrase="Export system-level Custom Fields">"
            show_hint="0">
            <input name="system_cf" id="system_cf" type="checkbox" value="<mt:Var name="system_cf">" checked="checked" />
            <label for="system_cf">Export system-level Custom Fields. (Uncheck if they are not required for this theme or if they are part of another theme.)</label>
        </mtapp:setting>
    </mt:If>

    <mt:If name="system_fd">
        <mtapp:setting
            id="system_fd"
            label_class="top-label"
            label="<__trans phrase="Export system-level Field Day fields">"
            show_hint="0">
            <input name="system_fd" id="system_fd" type="checkbox" value="<mt:Var name="system_fd">" checked="checked" />
            <label for="system_fd">Export system-level Field Day fields. (Uncheck if they are not required for this theme or if they are part of another theme.)</label>
        </mtapp:setting>
    </mt:If>

    </fieldset>

    <fieldset id="page-2" class="page last designer">

      <mtapp:setting
          id="designer"
          label_class="top-label"
          label="<__trans phrase="Designer/Author Name">"
          show_hint="0">
        <input class="full-width" name="designer_name" type="text" value="<$mt:var name="designer_name"$>" />
      </mtapp:setting>

      <mtapp:setting
          id="designer-url"
          label_class="top-label"
          label="<__trans phrase="Designer/Author URL">"
          show_hint="0">
        <input class="full-width" name="designer_link" type="text" value="<$mt:var name="designer_url"$>" />
      </mtapp:setting>

    </fieldset>

    <div id="export-pane">
      <div id="export-log">
        <ul>
            <li>Exporting...</li>
        </ul>
      </div>
      <div class="progress" style="display: none;"></div>
    </div>

    <div class="actions-bar">
      <div class="actions-bar-inner pkg actions">
        <button
             id="continue"
             type="button"
             on_click="javascript: void(0)"
             accesskey="s"
             title="<__trans phrase="Export (c)">"
             class="primary-button disabled-button">
          <__trans phrase="Export"></button>
        <button
             id="close"
             onclick="closeDialog(); return false"
             type="button"
             accesskey="x"
             class="cancel close"
             title="<__trans phrase="Close (x)">">
          <__trans phrase="Cancel"></button>
      </div>
    </div>
  </form>
</div>

<mt:include name="dialog/footer.tmpl">