.page {
  display: none;
}
.page.first {
  display: block;
}

#steps {
  margin-bottom: 10px;
}
#steps li {
  float: left;
  background: none;
  color: black;
  margin-right: 20px;
  padding: 5px 12px 5px 7px;
}
#steps li.active {
  background-color: #336699;
  color: white;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
#steps li span {
  color: white;
  background-color: #336699;
  padding: 1px 5px;
  margin-right: 5px;
  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}
#steps li.active span {
  background-color: white;
  color: #336699;
  padding: 0px 4px;
}
#steps li,
#steps li span,
#steps li label { cursor: pointer; }

#export-pane {
  display: none;
  float: none;
}
#export-pane .progress {
  float: none;
  position: relative;
}
#export-pane .progress p.working {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(../../images/indicator.white.gif);
  padding-top: 2px;
  padding-left: 20px;
  height: 16px;
}
#export-pane .progress a {
  font-size: 1.3em;
  padding-top: 8px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url(download.gif);
  padding-left: 38px;
  height: 33px;
  display: block;
}
#export-pane #export-log {
  background: white;
  border: 1px solid black;
  color: #222;
  font-family: monospace;
  width: 588px;
  height: 310px;
  padding: 5px 10px;
  overflow: auto;
}