<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="<mt:var name="language_tag">">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=<mt:var name="language_encoding">" />
    <title><mt:loop name="page_titles"><mt:var name="bc_name" escape="html"> | </mt:loop><mt:var name="mt_product_name"></title>

    <mt:include name="include/css_js_common.tmpl">

    <$mt:var name="html_head"$>

    <$mt:var name="js_include"$>
</head>

<body id="<$mt:var name="screen_id"$>" class="dialog <$mt:var name="screen_type" default="dialog-screen"$>">
<div id="container">
    <div id="content-header">
        <h1><$mt:var name="page_title"$></h1>
    </div>
    <div id="content">
