<!-- ip-based lookups -->

<p>
<MT_TRANS phrase="Lookups monitor the source IP addresses and hyperlinks of all incoming feedback. If a comment or TrackBack comes from a blacklisted IP address or contains a blacklisted domain, it can be held for moderation or scored as junk and placed into the blog's Junk folder. Additionally, advanced lookups on TrackBack source data can be performed.">
</p>

<mtapp:setting
    id="ip_address_lookups"
    label="<__trans phrase="IP Address Lookups">"
    hint=""
    show_hint="0">
    <ul>
    <li><input onclick="toggleSubPrefs(this)" value="0" type="radio" name="ipbl_mode" id="ipbl_mode_moderate" <TMPL_UNLESS NAME=IPBL_MODE>checked="checked"</TMPL_UNLESS> class="rb" /> <MT_TRANS phrase="Off"></li>
    <li><input onclick="toggleSubPrefs(this)" type="radio" name="ipbl_mode" value="2" <TMPL_IF NAME=IPBL_MODE_2>checked="checked"</TMPL_IF> class="rb" /> <MT_TRANS phrase="Moderate feedback from blacklisted IP addresses"></li>
    <li><input id="ipbl_mode_junk" onclick="toggleSubPrefs(this);toggleAdvancedPrefs(event,this);" type="radio" name="ipbl_mode" value="1" <TMPL_IF NAME=IPBL_MODE_1>checked="checked"</TMPL_IF> class="rb" /> <MT_TRANS phrase="Junk feedback from blacklisted IP addresses"> (<a href="javascript:void(0)" onclick="return toggleAdvancedPrefs(event,'ipbl_mode_junk')"><MT_TRANS phrase="Adjust scoring"></a>)<span id="ipbl_mode_junk-advanced" class="setting-advanced"><MT_TRANS phrase="Score weight:">

    <a href="javascript:void(0)" class="spinner" onclick="return junkScoreNudge(-1, 'sl_ipbl_weight')"><!-- <MT_TRANS phrase="Less"> --><img src="<TMPL_VAR NAME=STATIC_URI>images/decrease.gif" alt="<MT_TRANS phrase="Decrease">" width="12" height="8" /></a>
    <input type="text" size="3" id="sl_ipbl_weight" name="ipbl_weight" value="<TMPL_VAR NAME=IPBL_WEIGHT ESCAPE=HTML>" />
    <a href="javascript:void(0)" class="spinner" onclick="return junkScoreNudge(1,'sl_ipbl_weight')"><img src="<TMPL_VAR NAME=STATIC_URI>images/increase.gif" alt="<MT_TRANS phrase="Increase">" width="12" height="8" /><!-- <MT_TRANS phrase="More"> --></a>

    <!-- <span class="hint">Applies a negative rating to feedback matching this test.</span> -->
    </span></li>
    </ul>
</mtapp:setting>

<div id="ipbl_mode-prefs" style="display: <TMPL_IF NAME=IPBL_MODE><MT_TRANS phrase="block"><TMPL_ELSE><MT_TRANS phrase="none"></TMPL_IF>">

    <mtapp:setting
        id="sll_ipbl_service"
        label="<__trans phrase="IP Blacklist Services">">
        <textarea name="ipbl_service" id="sll_ipbl_service" cols="60" rows="2"><TMPL_VAR NAME=IPBL_SERVICE ESCAPE=HTML></textarea>
    </mtapp:setting>

</div>

<!-- domain-based lookups -->


<mtapp:setting
    id="domain_name_lookups"
    label="<__trans phrase="Domain Name Lookups">"
    hint=""
    show_hint="0">
    <ul>
    <li><input onclick="toggleSubPrefs(this)" type="radio" name="domainbl_mode" value="0" <TMPL_UNLESS NAME=DOMAINBL_MODE>checked="checked"</TMPL_UNLESS> class="rb" /> <MT_TRANS phrase="Off"></li>
    <li><input onclick="toggleSubPrefs(this)" type="radio" name="domainbl_mode" value="2" <TMPL_IF NAME=DOMAINBL_MODE>checked="checked"</TMPL_IF> class="rb" /> <MT_TRANS phrase="Moderate feedback containing blacklisted domains"></li>
    <li><input onclick="toggleSubPrefs(this);toggleAdvancedPrefs(event,this)" type="radio" id="domainbl_mode_junk" name="domainbl_mode" value="1" <TMPL_IF NAME=DOMAINBL_MODE_1>checked="checked"</TMPL_IF> class="rb" /> <MT_TRANS phrase="Junk feedback containing blacklisted domains"> (<a href="javascript:void(0)" onclick="return toggleAdvancedPrefs(event,'domainbl_mode_junk')"><MT_TRANS phrase="Adjust scoring"></a>)<span id="domainbl_mode_junk-advanced" class="setting-advanced"><MT_TRANS phrase="Score weight:">

    <a href="javascript:void(0)" class="spinner" onclick="return junkScoreNudge(-1, 'sl_domainbl_weight')"><!-- <MT_TRANS phrase="Less"> --><img src="<TMPL_VAR NAME=STATIC_URI>images/decrease.gif" alt="<MT_TRANS phrase="Decrease">" width="12" height="8" /></a>
    <input type="text" size="3" name="domainbl_weight" id="sl_domainbl_weight" value="<TMPL_VAR NAME=DOMAINBL_WEIGHT ESCAPE=HTML>" />
    <a href="javascript:void(0)" class="spinner" onclick="return junkScoreNudge(1,'sl_domainbl_weight')"><img src="<TMPL_VAR NAME=STATIC_URI>images/increase.gif" alt="<MT_TRANS phrase="Increase">" width="12" height="8" /><!-- <MT_TRANS phrase="More"> --></a>

    </span></li>
    </ul>
</mtapp:setting>



    <div id="domainbl_mode-prefs" style="display: <TMPL_IF NAME=DOMAINBL_MODE>block<TMPL_ELSE>none</TMPL_IF>">

    <mtapp:setting
        id="sll_domainbl_service"
        label="<__trans phrase="Domain Blacklist Services">">
        <textarea name="domainbl_service" id="sll_domainbl_service" cols="60" rows="2"><TMPL_VAR NAME=DOMAINBL_SERVICE ESCAPE=HTML></textarea>
    </mtapp:setting>

    </div>

<!-- trackback origin test -->


    <mtapp:setting
        id="tborigin_mode"
        label="<__trans phrase="Advanced TrackBack Lookups">">
    <ul>
    <li><input type="radio" name="tborigin_mode" value="0" <TMPL_UNLESS NAME=TBORIGIN_MODE>checked="checked"</TMPL_UNLESS> class="rb" /> <MT_TRANS phrase="Off"></li>
    <li><input type="radio" name="tborigin_mode" value="2" <TMPL_IF NAME=TBORIGIN_MODE_2>checked="checked"</TMPL_IF> class="rb" /> <MT_TRANS phrase="Moderate TrackBacks from suspicious sources"></li>
    <li><input type="radio" id="tborigin_mode_junk" name="tborigin_mode" value="1" <TMPL_IF NAME=TBORIGIN_MODE_1>checked="checked"</TMPL_IF> class="rb" onclick="toggleAdvancedPrefs(event,this)" /> <MT_TRANS phrase="Junk TrackBacks from suspicious sources"> (<a href="javascript:void(0)" onclick="return toggleAdvancedPrefs(event,'tborigin_mode_junk')"><MT_TRANS phrase="Adjust scoring"></a>)<span id="tborigin_mode_junk-advanced" class="setting-advanced"><MT_TRANS phrase="Score weight:">

    <a href="javascript:void(0)" class="spinner" onclick="return junkScoreNudge(-1, 'sl_tborigin_weight')"><!-- <MT_TRANS phrase="Less"> --><img src="<TMPL_VAR NAME=STATIC_URI>images/decrease.gif" alt="<MT_TRANS phrase="Decrease">" width="12" height="8" /></a>
    <input type="text" size="3" name="tborigin_weight" id="sl_tborigin_weight" value="<TMPL_VAR NAME=TBORIGIN_WEIGHT ESCAPE=HTML>" />
    <a href="javascript:void(0)" class="spinner" onclick="return junkScoreNudge(1,'sl_tborigin_weight')"><img src="<TMPL_VAR NAME=STATIC_URI>images/increase.gif" alt="<MT_TRANS phrase="Increase">" width="12" height="8" /><!-- <MT_TRANS phrase="More"> --></a>

    </span></li>
    </ul>
    </mtapp:setting>

<!-- whitelist (applied for all lookups) -->

<mtapp:setting
    id="lookup_whitelist"
    label="<__trans phrase="Lookup Whitelist">"
    hint="<MT_TRANS phrase="To prevent lookups for specific IP addresses or domains, list each on a line by itself.">"
    show_hint="1">
    <textarea name="whitelist" id="sll_whitelist" cols="60" rows="8"><TMPL_VAR NAME=WHITELIST ESCAPE=HTML></textarea>
</mtapp:setting>

<p>
<MT_TRANS phrase="Link filters monitor the number of hyperlinks in incoming feedback. Feedback with many links can be held for moderation or scored as junk. Conversely, feedback that does not contain links or only refers to previously published URLs can be positively rated. (Only enable this option if you are sure your site is already spam-free.)">
</p>

    <mtapp:setting
        id="urlcount"
        label="<__trans phrase="Link Limits">">

<ul>
<li><input type="checkbox" name="urlcount_none_mode" id="urlcount_none_mode" value="1" <TMPL_IF NAME=URLCOUNT_NONE_MODE>checked="checked"</TMPL_IF> onclick="toggleAdvancedPrefs(event,this)" /> <MT_TRANS phrase="Credit feedback rating when no hyperlinks are present"> (<a href="javascript:void(0)" onclick="return toggleAdvancedPrefs(event,'urlcount_none_mode')"><MT_TRANS phrase="Adjust scoring"></a>)<span id="urlcount_none_mode-advanced" class="setting-advanced"><MT_TRANS phrase="Score weight:">

<a href="javascript:void(0)" class="spinner" onclick="return junkScoreNudge(-1, 'sl_urlcount_none_weight')"><img src="<TMPL_VAR NAME=STATIC_URI>images/decrease.gif" alt="<MT_TRANS phrase="Decrease">" width="12" height="8" /></a>
<input type="text" size="3" name="urlcount_none_weight" id="sl_urlcount_none_weight" value="<TMPL_VAR NAME=URLCOUNT_NONE_WEIGHT ESCAPE=HTML>" />
<a href="javascript:void(0)" class="spinner" onclick="return junkScoreNudge(1,'sl_urlcount_none_weight')"><img src="<TMPL_VAR NAME=STATIC_URI>images/increase.gif" alt="<MT_TRANS phrase="Increase">" width="12" height="8" /></a>

</span></li>

<li><input type="checkbox" name="urlcount_moderate_mode" value="1" <TMPL_IF NAME=URLCOUNT_MODERATE_MODE>checked="checked"</TMPL_IF> onclick="toggleAdvancedPrefs(event,this)" /> <MT_TRANS phrase="Moderate when more than"> <input type="text" size="2" name="urlcount_moderate_limit" value="<TMPL_VAR NAME=URLCOUNT_MODERATE_LIMIT ESCAPE=HTML>" /> <MT_TRANS phrase="link(s) are given"></li>

<li><input type="checkbox" name="urlcount_junk_mode" id="urlcount_junk_mode" value="1" <TMPL_IF NAME=URLCOUNT_JUNK_MODE>checked="checked"</TMPL_IF> onclick="toggleAdvancedPrefs(event,this)" /> <MT_TRANS phrase="Junk when more than"> <input type="text" size="2" name="urlcount_junk_limit" value="<TMPL_VAR NAME=URLCOUNT_JUNK_LIMIT ESCAPE=HTML>" /> <MT_TRANS phrase="link(s) are given"> (<a href="javascript:void(0)" onclick="return toggleAdvancedPrefs(event,'urlcount_junk_mode')"><MT_TRANS phrase="Adjust scoring"></a>)<span id="urlcount_junk_mode-advanced" class="setting-advanced"><MT_TRANS phrase="Score weight:">

<a href="javascript:void(0)" class="spinner" onclick="return junkScoreNudge(-1, 'sl_urlcount_junk_weight')"><img src="<TMPL_VAR NAME=STATIC_URI>images/decrease.gif" alt="<MT_TRANS phrase="Decrease">" width="12" height="8" /></a>
<input type="text" size="3" name="urlcount_junk_weight" id="sl_urlcount_junk_weight" value="<TMPL_VAR NAME=URLCOUNT_JUNK_WEIGHT ESCAPE=HTML>" />
<a href="javascript:void(0)" class="spinner" onclick="return junkScoreNudge(1,'sl_urlcount_junk_weight')"><img src="<TMPL_VAR NAME=STATIC_URI>images/increase.gif" alt="<MT_TRANS phrase="Increase">" width="12" height="8" /></a>


</span></li>

</ul>
    </mtapp:setting>


    <mtapp:setting
        id="priorurl"
        label="<__trans phrase="Link Memory">">
<ul>
<li><input type="checkbox" name="priorurl_mode" value="1" <TMPL_IF NAME=PRIORURL_MODE>checked="checked"</TMPL_IF> onclick="toggleAdvancedPrefs(event,this)" /> <MT_TRANS phrase="Credit feedback rating when &quot;URL&quot; element of feedback has been published before">
<p><MT_TRANS phrase="Only applied when no other links are present in message of feedback."> (<a href="javascript:void(0)" onclick="return toggleAdvancedPrefs(event,'priorurl_mode')"><MT_TRANS phrase="Adjust scoring"></a>)<span id="priorurl_mode-advanced" class="setting-advanced"><MT_TRANS phrase="Score weight:">

    <a href="javascript:void(0)" class="spinner" onclick="return junkScoreNudge(-1, 'sl_priorurl_weight')"><img src="<TMPL_VAR NAME=STATIC_URI>images/decrease.gif" alt="<MT_TRANS phrase="Decrease">" width="12" height="8" /></a>
    <input type="text" size="3" name="priorurl_weight" id="sl_priorurl_weight" value="<TMPL_VAR NAME=PRIORURL_WEIGHT ESCAPE=HTML>" />
    <a href="javascript:void(0)" class="spinner" onclick="return junkScoreNudge(1,'sl_priorurl_weight')"><img src="<TMPL_VAR NAME=STATIC_URI>images/increase.gif" alt="<MT_TRANS phrase="Increase">" width="12" height="8" /></a>

</span></p>
<ul>
<li><input type="checkbox" name="priorurl_greyperiod_mode" value="1" <TMPL_IF NAME=PRIORURL_GREYPERIOD_MODE>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="Exclude URLs from comments published within last [_1] days." params="<span id="priorurl_greyperiod-advanced"><input type="text" size="3" name="priorurl_greyperiod" value="<TMPL_VAR NAME=PRIORURL_GREYPERIOD ESCAPE=HTML>" /></span>">
</li></ul></li>
</ul>
    </mtapp:setting>


    <mtapp:setting
        id="prioremail"
        label="<__trans phrase="Email Memory">">
<ul>
<li><input type="checkbox" name="prioremail_mode" value="1" <TMPL_IF NAME=PRIOREMAIL_MODE>checked="checked"</TMPL_IF> onclick="toggleAdvancedPrefs(event,this)" /> <MT_TRANS phrase="Credit feedback rating when previously published comments are found matching on the &quot;Email&quot; address"> (<a href="javascript:void(0)" onclick="return toggleAdvancedPrefs(event,'prioremail_mode')"><MT_TRANS phrase="Adjust scoring"></a>)<span id="prioremail_mode-advanced" class="setting-advanced"><MT_TRANS phrase="Score weight:">

<a href="javascript:void(0)" class="spinner" onclick="return junkScoreNudge(-1, 'sl_prioremail_weight')"><img src="<TMPL_VAR NAME=STATIC_URI>images/decrease.gif" alt="<MT_TRANS phrase="Decrease">" width="12" height="8" /></a>
<input type="text" size="3" name="prioremail_weight" id="sl_prioremail_weight" value="<TMPL_VAR NAME=PRIOREMAIL_WEIGHT ESCAPE=HTML>" />
<a href="javascript:void(0)" class="spinner" onclick="return junkScoreNudge(1,'sl_prioremail_weight')"><img src="<TMPL_VAR NAME=STATIC_URI>images/increase.gif" alt="<MT_TRANS phrase="Increase">" width="12" height="8" /></a>

</span>
<ul><li><input type="checkbox" name="prioremail_greyperiod_mode" value="1" <TMPL_IF NAME=PRIOREMAIL_GREYPERIOD_MODE>checked="checked"</TMPL_IF> /> <MT_TRANS phrase="Exclude Email addresses from comments published within last [_1] days." params="<span id="prioremail_greyperiod-advanced"> <input type="text" size="3" name="prioremail_greyperiod" value="<TMPL_VAR NAME=PRIOREMAIL_GREYPERIOD ESCAPE=HTML>" /></span>">
</li></ul></li>
</ul>
    </mtapp:setting>
